<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lessonpedia/static/css/admin_dashboard.css">
    <title>Admin - Dashboard</title>
</head>
<body>
    <div class="admin_dash">
        <div class="leftpane">
            <div class="leftpane_content">
                <h2 class="dashboard_header">Dashboard</h2>
                <p class="dashboard_list"></p>
                <p class="dashboard_list"></p>
                <p class="dashboard_list"></p>
            </div>
        </div>
    </div>
</body>
</html>