<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Client</title>
    <link rel="stylesheet" href="/lessonpedia/static/css/client_dashboard.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="personal side">
                 <div class="profile_pics">
                    <img src="/lessonpedia/static/images/clients/pass.jpg" alt="Client Passport">
                </div>
                <div class="other_info">
                    <p>andrewetedu@gmail.com</p>
                    <p>andybillions@x.com</p>
                </div>
            </div>
            <div class="side_items">
                <div class="settings side">
                    <a href="#">Dashboard</a> 
                    </div>   
                <div class="settings side">
                <a href="#">Settings</a> 
                </div>            
                <div class="history side">
                    <a href="#">History</a> 
                </div>
                <div class="logout side">
                    <a href="#">Logout</a> 
                </div>            
            </div>
 
           
        </div>

        <div class="content">
            <div class="left_pane">
                <div class="profile_info">
                    <h2>Dashboard</h2>
                </div>
                <div class="activities">
                    <div class="my_tutors">
                        <div class="search">
                            <input type="text" name="" id="" placeholder="Search">
                        </div>

                    </div>
                    <div class="subjects">
                        <section class="subject_details">
                            <section class="tutor_info">
                                <img src="/lessonpedia/static/images/clients/pass.jpg" alt="Client Passport">
                                <span>Python</span>
                                <p class="tutor_name">Name</p>
                                <p class="sub"></p>
                                <button class="remove_tutor">Remove</button>
                            
                                <button class="report_abuse">Report Abuse</button>
                                <button class="review">Review</button>
                                <button class="rank">Rank</button>
                                <section class="status_icon"></section>
                            </section>

                        </section>
                    </div>
                </div>
            </div>
            
            <div class="right_pane">
                <div class="rooms"></div>
                <div class="add_tutor"></div>
                <div class="suggestion"></div>
                
            </div>
        </div>
    </div>
</body>
</html>

