<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lessonpedia/static/css/landing_page.css">
    <title>Document</title>
</head>
<body>
    <div class="nav_container">
        <div class="nav_elements">
            <!-- for the logo on the leftside on navbar -->

            <section class="nav_left">
                <img width="100px" height="80px" style="float: left" src="/lessonpedia/static/images/socialLinks/github.png" alt=""><p style="padding-left: 8%;">LessonPedia</p>
            </section>

            <!-- handles the drop down menu items on the nav bar -->
            <section class="nav_center">
                <ol>
                    <li>Home</li>
                    <li class="spaceMe">Pricing</li>
                    <li class="spaceMe">Take a fun test</li>
                    <li class="spaceMe">About us</li>
                    <li class="spaceMe">Reviews</li>
                </ol>
            </section>

            <section class="nav_right">
                <img src="/lessonpedia/static/images/icons/cart.png" alt="not found">
                <img src="/lessonpedia/static/images/icons/profile_icon.png" alt="">
                <img src="/lessonpedia/static/images/icons/searchbar.png" alt="">
            <!-- handles the cart icon -->
            </section>

            <!-- signup button handle -->
            <section class="signup_button">
                <p style="margin-top: 0px;">Login <span>SignUp</span></p>
            </section>

        </div>
    </div>

    <!-- top:after nav page -->
    <div class="upper_section">
        <div class="pics_background">
            <img style="float: right" src="/lessonpedia/static/images/backgrounds/lady_background.png" alt="">
        

            <div class="left_label">
                <section class="top">
                    <p>SUCCESSFUL COACHES ARE VISIONARIES</p>
                </section>

                <section class="mid">
                    <h3>Good <span>coaching</span> is <br> good teaching & <br> nothing else.</h3>
                </section>

                <section class="second_level_mid">
                    <button>View Courses</button>
                    <p>Get free consultation </p>
                </section>

                <section class="last">
                    <input type="text" name="" id="" placeholder="What do you want to learn today?">
                    <section class="search">
                        <img src="/lessonpedia/static/images/icons/inner_search.png" alt=""><span>Search</span>
                    </section>
                </section>
            </div>
        </div>
    </div>
</body>
</html>