<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/landing_page.css">
    <title>Document</title>
</head>
<body>
    <div class="nav_container">
        <div class="nav_elements">
            <!-- for the logo on the leftside on navbar -->

            <section class="nav_left">
                <img width="100px" height="100px" src="/static/images/socialLinks/github.png" alt=""><span>ChimeMyOga</span>
            </section>

            <!-- handles the drop down menu items on the nav bar -->
            <section class="nav_center">
                <ol>
                    <li>Home</li>
                    <li class="spaceMe">Pricing</li>
                    <li class="spaceMe">Take a fun test</li>
                    <li class="spaceMe">About us</li>
                    <li class="spaceMe">Reviews</li>
                </ol>
            </section>

            <section class="nav_right">
ffdfdd
            <!-- handles the cart icon -->
            </section>

            <!-- signup button handle -->
            <section class="signup_button">
ffdfdfd
            </section>

        </div>
    </div>

    <!-- top:after nav page -->
    <div class="upper_section">

    </div>
</body>
</html>