<form>
    <input type="text" name="firstName" placeholder="First Name">
  
    <input type="text" name="lastName" placeholder="Last Name">
  
    <input type="text" name="stateOfOrigin" placeholder="State of Origin">
  
    <input type="text" name="stateOfResidence" placeholder="State of Residence">
  
    <input type="text" name="nationality" placeholder="Nationality">
  
    <label><input type="checkbox" name="daysAvailableForWork[]" value="Monday"> Monday</label>
    <label><input type="checkbox" name="daysAvailableForWork[]" value="Tuesday"> Tuesday</label>
    <label><input type="checkbox" name="daysAvailableForWork[]" value="Wednesday"> Wednesday</label>
    <label><input type="checkbox" name="daysAvailableForWork[]" value="Thursday"> Thursday</label>
    <label><input type="checkbox" name="daysAvailableForWork[]" value="Friday"> Friday</label>
    <label><input type="checkbox" name="daysAvailableForWork[]" value="Saturday"> Saturday</label>
    <label><input type="checkbox" name="daysAvailableForWork[]" value="Sunday"> Sunday</label>
  
    <input type="number" name="age" placeholder="Age">
  
    <input type="number" name="height" placeholder="Height (cm)">
  
    <label><input type="checkbox" name="months[]" value="January"> January</label>
    <label><input type="checkbox" name="months[]" value="February"> February</label>
    <label><input type="checkbox" name="months[]" value="March"> March</label>
    <label><input type="checkbox" name="months[]" value="April"> April</label>
    <label><input type="checkbox" name="months[]" value="May"> May</label>
    <label><input type="checkbox" name="months[]" value="June"> June</label>
    <label><input type="checkbox" name="months[]" value="July"> July</label>
    <label><input type="checkbox" name="months[]" value="August"> August</label>
    <label><input type="checkbox" name="months[]" value="September"> September</label>
    <label><input type="checkbox" name="months[]" value="October"> October</label>
    <label><input type="checkbox" name="months[]" value="November"> November</label>
    <label><input type="checkbox" name="months[]" value="December"> December</label>
  
    <input type="submit" value="Submit">
  </form>
  