<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutors View</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/lessonpedia/static/script/tutor_view.js"></script>
    <link rel="stylesheet" href="/lessonpedia/static/css/tutor_view.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="subject_pane">
            <div class="subject_list">
            <div class="subjects">
                <section class="subject">Physics</section>
                <section class="subject">Biology</section>
                <section class="subject">Verbal Reasoning</section>
                <section class="subject">Chemistry</section>
                <section class="subject">Mathematics</section>
                <section class="subject">Business Admin</section>
                <section class="subject">Python Programming</section>
                <section class="subject">JavaScript</section>
                <section class="subject">NodeJS</section>
            </div>
            </div>
            <div class="mentors">
                <section class="top_mentors">
                    <H3>TOP MENTORS</H3>
                </section>
            </div>

            <div class="logout">
                <section class="logout_btn">
                    <h3>Log Out</h3>
                </section>
            </div>

        </div>
        <div class="tutors_pane">
            <div class="header">
                <div class="search">

                </div>
                <div class="user_info">
                    <span>notification icon</span>
                    <span ><img class="tiny_images"src="/lessonpedia/static/images/rooms/Chime.jpg" alt="user_photo"></span>
                    <span>Kingsley +icon</span>
                </div>
            </div>
            <div class="tutor_row">
                <div class="tutor_overview">
                    <section class="name"><h3>Chime Kingsley</h3>
                        <span class="ranks"><span class="rank">★</span><span class="rank">★</span><span class="rank">★</span><span class="rank">★</span><span class="rank">★</span></span>
                    </section>
                    <section class="tutor_subject">
                        <h6>Pure Thoughts</h6>
                        <section class="status"></section>
                    </section>
                    <button class="view_tutor_profile">View Profile</button>
                </div>
                <div class="tutor_overview"></div>
                <div class="tutor_overview"></div>
            </div>
        </div>
    </div>
    <div class="buttom_footer">
        <p>LessonPedia CopyRight 2023 | All Right reserved <span style="color:yellow">&copy;</span> </p>
        <section class="social_medias">
            <a href=""><img src="/lessonpedia/static/images/icons/facebook.png" alt=""></a>
            <a href=""><img src="/lessonpedia/static/images/icons/instagram.png" alt=""></a>
            <a href=""><img src="/lessonpedia/static/images/icons/web.png" alt=""></a>
            <a href=""><img src="/lessonpedia/static/images/icons/twitter.png" alt=""></a>
        </section>
    </div>
</body>
</html>