<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/lessonpedia/static/css/tutors_profile_page.css">
    <title>Animated Background</title>
</head>
<body>
    <div class="background"></div>
    <div class="content">
        <div class="content_left">
            <h3><span class="welcome">Welcome to</span> <span class="lesson_pedia">LessonPedia&nbsp;</span></h3>

            <section class="disciplinary">
                <p class="active_user">
                    &nbsp;&nbsp;&nbsp;You signed up as <br><span class="usr">EnGentech</span><br><br>
                    <p class="confirm">
                        Ensure to provide a verifiable information on this page as any form of impersonation or false documentation will result in automatic eviction from the platform.
                    </p>
                </p>
                <p class="assurance">
                    Information provided on this page is encrypted and protected under the rule of law
                </p>
            </section>
            
        </div>
        <div class="profile_regPage">
            <div class="profile_regPage_content">
                fdfd
            </div>
        </div>
    </div>
</body>
</html>
