<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/lessonpedia/static/script/tutors_profile_page.js"></script>
    <link rel="stylesheet" href="/lessonpedia/static/css/tutors_profile_page.css">
    <title>Tutor's - Profile</title>
</head>
<body>
    <div class="background"></div>
    <div class="content">
        <div class="content_left">
            <h3><span class="welcome">Welcome to</span> <span class="lesson_pedia">LessonPedia&nbsp;</span></h3>

            <section class="disciplinary">
                <p class="active_user">
                    &nbsp;&nbsp;&nbsp;You signed up as <br><span class="usr">EnGentech</span><br><br>
                    <p class="confirm">
                        Ensure to provide a verifiable information on this page as any form of impersonation or false documentation will result in automatic eviction from the platform.
                    </p>
                </p>
                <p class="assurance">
                    Information provided on this page is encrypted and protected under the rule of law
                </p>
            </section>
            
        </div>
        <div class="profile_regPage">
            <div class="profile_regPage_content">
                <img src="/lessonpedia/static/images/icons/profilePics.jpeg" class="image_preview" alt="">
                <h2 class="profile_header"><center>Profile Registration</center></h2>
                <form action="">
                    <fieldset class="profile_form"><legend> Bio - Data </legend>
                        
                            <label for="firstName">First Name</label><br>
                            <input type="text" name="" id="firstName" placeholder="First Name">
                            <label for="lastName">Last Name <span for="others" id="others_label">Others</span></label><br>
                            <input type="text" name="" id="lastName" placeholder="Last Name">
                            <input type="text" name="" id="others" placeholder="Others">
                            <label for="address">Residential Address</label><br>
                            <input type="text" name="" id="address" placeholder="Address">
                            <label for="state">State of Resident <span for="nationality" id="nationality_label">Nationality</span></label><br>
                            <input type="text" name="" id="state" placeholder="State of Resident">
                            <input type="text" name="" id="nationality" placeholder="Nationlaity">
                        
                    </fieldset><br>

                    <fieldset class="profile_form"><legend> Academic/Employment Details </legend>
                        
                        <label for="institution">Institution Name</label><br>
                        <input type="text" name="" id="firstName" placeholder="top-most institution attended">
                        <label for="discipline">Discipline <span id="position_qual">Qualification</span><span id="position_cgpa">CGPA</span></label>
                        <section class="disqua">
                            <input type="text" name="" id="dis" placeholder="discipline">
                            <select name="qualification" id="qual">
                                <option value="" hidden selected>-- select one --</option>
                                <option value="">Msc</option>
                                <option value="">Bsc</option>
                                <option value="">Beng</option>
                                <option value="">HND</option>
                                <option value="">ND</option>
                                <option value="">NCE</option>
                                <option value="">WAEC</option>
                            </select>
                            <input type="text" name="" id="cgpa" placeholder="cgpa">
                        </section>  
                        <label for="specialization">Specialization (if any)</label><br>
                        <input type="text" name="" id="specialization" placeholder="Specialization">
                        <label for="employment-status">Employment Status <span id="position_stat">if employed, select option below</span></label>
                        <section class="disqua">
                            <select name="qualification" id="empStat">
                                <option value="" hidden selected>-- select one --</option>
                                <option value="">Employed</option>
                                <option value="">Self Employed</option>
                                <option value="">Unemployed</option>
                            </select>
                            <select name="qualification" id="employmentStat">
                                <option value="" hidden selected>if employed, select an option</option>
                                <option value="">Full-time</option>
                                <option value="">Part-time</option>
                            </select>                            
                        </section>                                                 
                </fieldset><br>
                <fieldset class="profile_form"><legend> Uploads </legend>
                    <label for="dp">Upload profile picture</label>
                    <input type="file" name="profile_picture" id="dp" class="file_button" placeholder=""><br><br> 
                              
                    <label for="cv">Upload CV or Resume</label>
                    <button class="preview">Preview</button>
                    <input type="file" name="profile_picture" id="cv" class="file_button" placeholder=""><br><br>
                    
                    <label for="cv">Upload Certificate (Highest cert only)</label>
                    <button class="preview">Preview</button>
                    <input type="file" name="profile_picture" id="cert" class="file_button" placeholder=""><br><br>
                </fieldset><br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
