<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'static/styles/quiz_instruction.css' %}">
    <title>Instruction</title>
</head>
<body>
    
    <div class="ins_container">
        <div class="back">
            <p style="left: 10;"><a href="{% url 'tutor_dashboard'%}">Back to Dashboard</a></p>
        </div>
        <center><h2>Assesment Instructions</h2></center>
        <div class="ins">
            <h3>Please read the following instructions carefully</h3>
            <ul class="instructions">
                <li>
                  <p>Do not reload the page during the assessment. Reloading the page at any point will automatically reset your score to <span style="color: red; font-weight: bold;">0%</span>, and the system will redirect you, resulting in loss of progress.</p>
                </li>
                <li>
                  <p>Ensure all questions are answered within the <span style="color: red; font-weight: bold;">allotted time</span>. Failure to complete all questions within the specified time frame may affect your final score.</p>
                </li>
                <li>
                  <p>Upon completion of the assessment, your score for the answered questions will be automatically saved. You will be redirected from the current page at the end of the assessment.</p>
                </li>
                <li>
                  <p>
                    <span style="color: red; font-weight: bold;">If you encounter a pop-up or window alert indicating "Leaving site: Changes you made may not be saved," please ensure to click on the <span style="color: black; font-weight: bold;">Leave button</span>. Your scores will be securely stored.</span>
                  </p>
                </li>
              </ul>
              <h3><b>Note: Scores below the required threshold of <span style="color: red; font-weight: bold;">70%</span> will not be considered satisfactory for evaluation as a tutor.</b></h3>
              
        </div>
        <div class="link">
            <center><h3><a href="{% url 'tutor_quiz' %}">Click here to Proceed</a></h3></center>
        </div>
    </div>
    
</body>
</html>