{% extends "tutor/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/tutorView.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'script/tutorView.js' %}"></script>
    <title>view - tutor</title>
{% endblock head %}

{% block content %}
    <hr>
    <div class="pageDiv">
        <div class="left">
            <div class="top_left_empty">

            </div>
            
            <section class="left_header">
                <h2>Courses </h2>
                <img src="{% static 'images/icons/arrow-up.png' %}" alt="">
            </section>

            <section class="courses">
                <p>Physics</p>
                <p>Biology</p>
                <p>Verbal Reasoning</p>
                <p>Python Programming</p>
                <p>Node JS</p>
                <p>Chemistry</p>
                <p>Mathematics</p>
                <p>English Language</p>
                <p>Digital Marketting</p>
                <p>Web Development</p>
                <p>Software Engineering</p>
                <p>Special Programs</p>
                <p>Others</p>
            </section><br><br>
            <section class="left_header optimize">
                <h3>Mentors </h3>
                <img src="{% static 'images/icons/arrow-up.png' %}" alt="">
            </section>
        </div>

        <div class="right">           
            <div class="right_top">
                
                <form action="">
                    <span class="searchIcon">🔍</span>
                    <input type="text" name="" placeholder="Search" id="">
                </form> 
                                

                <section class="pushRight">
                    <img src="{% static 'images/icons/notification.png' %}"  class="shift" alt="">
                    <img src="{% static 'images/icons/avatar.png' %}" class="shift" alt="">
                    <section class="userName shift">
                        <p>Gentle</p>
                        <img src="{% static 'images/icons/arrow-up.png' %}" alt="">
                    </section>
                </section>
            </div>
            

            <div class="dpDisplay">
                <img class='tutordp' src="{% static 'images/tutors/pass.jpg' %}" alt="">
                <section class="goRight">
                    <img src="{% static 'images/icons/likebutton.png' %}" alt="">
                    <img src="{% static 'images/icons/message.png' %}" alt="">
                    <img src="{% static 'images/icons/more.png' %}" alt="">
                </section>
                <section class="UserBioData">
                    <h3>Gentle Inyang</h3>
                    <p>Software Engineer <span>[Phd]</span></p>
                    <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                </section>
            </div>

            <div class="overview">
                <section class="overview_header">
                    <h3 class="active">Overview</h3>
                    <h3>Reviews</h3>
                </section>
                <section class="overview_body">
                    <p>Hi, I'm Gentle Inyang, a software engineer with over 5 years of experience in the industry. I have worked with several companies and have built several applications. I am also a mentor and I have mentored over 100 students in the past 2 years. I am also a mentor and I have mentored over 100 students in the past 2 years. I am also a mentor and I have mentored over 100 students in the past 2 years. I am also a mentor and I have mentored over 100 students in the past 2 years. I am also a mentor and I have mentored over 100 students in the past 2 years. I am also a mentor and I have mentored over 100 students in the past 2 years.</p>
                </section>
            </div>

            <section class="link2social">
                <button>Resume</button>
                <button>LinkedIn</button>
            </section>

            <section class="expertise">
                <h3 class="background">Background</h3>
                <section class="insideExpertise">
                    <p class="expertLev">Expertise</p> 
                    <p class="first">Backend Specialist</p> 
                    <p class="second">Frontend Enthusiast</p>                    
                </section>
                <section class="insideExpertise">
                    <p class="expertLev">Others</p> 
                    <p class="others">General computer Services and Mathematics</p>                    
                </section>
                <section class="insideExpertise">
                    <p class="expertLev">Fluent in</p> 
                    <p class="fluent">English</p> 
                    <p class="fluent">French</p>                    
                </section>

                <section class="addTutor">
                    <button class="addbutton">Add Tutor</button>
                </section>
            </section><hr>
            
            <section class="arrows">
                <img id='nextArrow' src="{% static 'images/icons/arrow-left.png' %}" alt="">
                <img id='prevArrow' src="{% static 'images/icons/arrow-right.png' %}" alt="">
            </section>
            <h3 class="similarHead">Similar Tutors Profile</h3>
            <div class="similarTutors">
                <section class="similarTutors_body">
                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gtle Inyang</p>
                        <p class="specialty">Software Engineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>
                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gentle Inng</p>
                        <p class="specialty">Software Engineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>
                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gene Inyang</p>
                        <p class="specialty">Software Engineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>
                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gentle Inyang</p>
                        <p class="specialty">Softre Engineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>
                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gentle Iang</p>
                        <p class="specialty">Software Engineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>
                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gentlyang</p>
                        <p class="specialty">Sofare Engineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>


                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gentle Iang</p>
                        <p class="specialty">Software Engineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>
                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gentle Ing</p>
                        <p class="specialty">Softre Eineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>
                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gentlnyang</p>
                        <p class="specialty">Sofwarengineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>
                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gentleng</p>
                        <p class="specialty">Softwangineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>
                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gentlyang</p>
                        <p class="specialty">SoftwareEngineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>
                    <div class="similarTutors_body_div">
                        <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                        <p class="name">Gentle Iyang</p>
                        <p class="specialty">Software Engineer</p>
                        <p class="ratings">Rating: <span class="positive">★★★★</span><span class='negative'>★</span></p>
                    </div>
                </section>
            </div>
        </div>
    </div><hr>

{% endblock content %}