{% extends 'tutor/base.html' %}
{% load static %}
{% block title %}Tutors{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %}">
    <script src="{% static "https://kit.fontawesome.com/11285bfb5b.js" %}" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'script/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'script/tutor_search.js' %}" ></script>
    <script src="{% static "script/view_tutors.js" %}"></script>
    <link rel="stylesheet" href="{% static 'styles/tutor_search.css' %}">
    <link rel="stylesheet" href="{% static "styles/view_tutors.css" %}">
{% endblock head %}
{% block signup_button %}     
    <section class="signup_button">
        <div class='signUp_btn' ><a id="logout_btn_top" href="{% url 'tutor_logout' %}">Logout</a></div>
    </section>  
{% endblock signup_button %} 

{% block content %}
<hr>
<body>
    <div id="main_content">
        <div class="subject_pane">
            <div class="subject_list">
                    <h3>Subjects <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></h3>
                    {% if subjects %}
                        <ul class="subjects ul">
                            {% for subject in subjects %}
                                <li class="subject list_item" ><a class="checkValue" href="#">{{ subject }}</a></li> 
                                {% endfor %}
                                {% comment "TODO" %} for every subject, query the database for the tutors that teach that subject and display them in the tutor_pane
                                {% endcomment %}
                        </ul>
                    {% else %}
                        <ul class="subjects ul">
                            <li class="subject list_item"><a href="#">Physics</a></li>
                            <li class="subject list_item"><a href="#">Mathematics</a></li>
                            <li class="subject list_item"><a href="#">Business Admin</a></li>
                            <li class="subject list_item"><a href="#">Python Programming</a></li>
                            <li class="subject list_item"><a href="#">JavaScript</a></li>
                            <li class="subject list_item"><a href="#">NodeJS</a></li>
                        </ul>
                    {% endif %}
            </div>
            <div class="mentors">
                <section class="top_mentors">
                    <H3>Top Mentors <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></H3>
                    {% if tutors %}
                        <ul class="mentor_name ul">
                            {% for tutor in tutors|slice:':10' %}
                                <li class="list_item"><a href="{% url 'tutor_detail' tutor.id %}">{{ tutor.first_name }} {{ tutor.last_name }}</a></li> 
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul class="mentor_name ul">
                            <li class="list_item"><a href="#">Esogibe Chidubem</a></li>
                            <li class="list_item"><a href="#">Gentle Inyang</a></li>
                            <li class="list_item"><a href="#">Barth Bassey</a></li>
                            <li class="list_item"><a href="#">Kingsley Chime</a></li>
                        </ul>
                    {% endif %}
                </section>
            </div>

            <div class="logout">
                <section class="logout_btn">
                    <h3><i class="fa fa-sign-out" aria-hidden="true"></i> <a href="{% url 'logoutUser' %}">Log Out</a></h3>
                </section>
            </div>

        </div>
        <div class="tutors_pane">
            <div class="header">
                <div class="search_bar">
                    <form class="search_bar_form" method="GET" action="{% url 'search_tutors' %}">
                        <span><i style="font-size: 24px" class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" name="query" placeholder="Search">
                        <button id="popover-trigger2" class="query_btn popover-trigger" type="submit">Search</button>
                    </form>
                </div>
                <div id="notification-box" class="notification-box">
                <p>You have no new notifications</p>
            </div>
                <div class="user_info">
                    <div>
                    <i class="fa-regular fa-sharp fa-bell"></i>
                    </div>
                    <section><img class="tiny_images"src="{{ user.profile_picture.url }}" alt="user_photo"></section>
                    <span class="username">{{ user.username }}</span> <span class="fa fa-chevron-circle-down" aria-hidden="true"></span>
                </div>
            </div>
                            <!-- Add this button where you want to trigger the popover -->
            <div class="popover-container">
                <div class="popover-content" id="popover-content">
                    <!-- Search results content will be loaded here -->
                </div>
            </div>
                            <!-- Implement a search button that passes keywords to the database for matches of tutors and subjects -->
            
            <div class="tutor_row">
                {% if tutors %}
                    {% for tutor in tutors %}
                        <div class="tutor_overview">
                            <section class="tutor_image_box">
                                <img class="tutor_image" src="{{ tutor.profile_picture.url }}" alt="{{ tutor.first_name }}'s photo">
                            </section>
                            <div class="other_info">
                                <section class="tutor_name"><h5 class="name">{{ tutor.first_name }} {{ tutor.last_name }} &nbsp;</h5>
                                    <span class="ranks">
                                        {% if tutor.rank %}
                                                {% if tutor.rank > 4 %}
                                                <span class="rank_5" id="my_rank">★★★★★</span>
                                                {% elif tutor.rank > 3 %}
                                                    <span class="rank_4" id="my_rank">★★★★</span><span class="empty_rank">★</span>
                                                {% elif tutor.rank > 2 %}
                                                    <span class="rank_3" id="my_rank">★★★</span><span class="empty_rank">★★</span>
                                                {% elif tutor.rank > 1 %}
                                                    <span class="rank_2" id="my_rank">★★</span><span class="empty_rank">★★★</span>
                                                {% else  %}
                                                    <span class="rank_1" id="my_rank">★</span><span class="empty_rank">★★★★</span>
                                                {% endif %}
                                        {% else %}
                                        <div id="no_rank">
                                            <span class="rank_1">★</span><span class="rank_2">★</span><span class="rank_3">★</span><span class="rank_4">★</span><span class="rank_5">★</span>
                                        </div>
                                        {% endif %}
                                    </span>
                                </section>
                                <section class="tutor_subject">
                                        <h6 class="show_block"> {{ tutor.primary_subject }}<i class="fa fa-circle" aria-hidden="true"></i></h6>
                                </section>
                                <section><button class="view_tutor_profile"><a href="{% url 'tutor_detail' tutor.id %}">View Profile</a></button></section>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>        
    </div>
    <hr>
{% endblock content %}


