@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Inika:wght@400;700&family=Marko+One&family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Inika:wght@400;700&family=Marko+One&family=Rowdies&family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Hedvig+Letters+Sans&family=Inika:wght@400;700&family=Marko+One&family=Rowdies&family=Saira&display=swap');

body {
    margin: 0px;
    background-image: url('/lessonpedia/static/images/backgrounds/darkbgr.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: flex;
}
/* Sidebar for links and personal profile photo */
.sidebar {
    flex: 1;
    height: 661px;
    width: 197px;
    border: 3px solid rgba(245, 222, 179, 0.259);
    border-radius: 10px;
    /* border-right: none; */
    padding: 10px;
    color: white;
    margin: 10px;
}
.sidebar .personal {
    /* height: 150px; */
    width: 200px;
    text-align: center;
    margin: 20px auto;
}

.sidebar .other_info{
    line-height: 5px;
    font-size: 12px;
}
.hrtop {
    margin-top: 30px;
    width: 100%;
}
.hrtop hr {
    height: 1px;
}

.sidebar .side_items{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 50px;
    padding-left: 30%;
    line-height: 70px;
    font-size: 1.2em;
}
.sidebar .side a{
    text-decoration: none;
    color: white;
}
.sidebar .personal{
    margin-bottom: 0px;
    padding-bottom: 0%;
}
.sidebar .personal img{
    display: block;
    width: 72px;
    height: 72px;
    margin: auto;
    border-radius: 50%;
}
/* contents to display sidebar link data */
.content {
    flex: 3;
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: none;
}
.courses {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(58, 38, 38, 0.316);
}
.courses .item {
    border: 1px solid black;
    width: 140px;
    height: 50px;
    line-height: 50%;
    padding: 10px;
    padding-left: 15px;
    padding-top: 0px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1px solid white;
    box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.539);
}
.left_pane {
    flex: 4;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 2px 2px 10px 2px rgb(201, 199, 199);
    border-radius: 10px;
    background: radial-gradient(white 50%, rgb(225, 238, 249));
    margin: 20px;
}
.left_pane .profile_info {
    padding: 20px 0px 15px 40px;
    margin-bottom: 0px;
    align-items: center;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.351);
    font-family: 'Hedvig Letters Sans', sans-serif;
    margin: 20px;
    background-color: rgba(104, 104, 120, 0.295);
    border-radius: 50px;
    color: rgb(0, 5, 93);
    border-bottom: 3px solid rgba(2, 7, 80, 0.705);
    font-size: large;
}

.left_pane .profile_info h2{
    margin-top: 0px;
    margin-bottom: 2px;
}

.progress{
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.progress_text{
    font-family: 'Inika', serif;
    font-size: 11px;
    color: grey;
}

.left_pane .activities {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.my_tutors{
    display: flex;
    justify-content: end;
    margin-right: 38px;
   
}

.my_tutors .search{
    height: 30px;
    border: 1px solid red;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.83);
    border-radius: 20px;
    border: 1px solid grey;
    margin-right: 0px;
    padding-right: 0px;
}

.my_tutors .search input[type="text"]{
    height: 20px;
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5px;
    border: none
}

.my_tutors .search input[type="text"]:focus{
    outline: none;
}

.my_tutors .search .search_button{
    height: 30px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(2, 7, 80, 0.811);
    color: white;
    cursor: pointer;
    border: none;
}

.left_pane .activities .subjects {
    flex: 5;
    display: flex;
    flex-direction: column;
}
.subjects {
    flex: 4;
    margin-top: 10px;
    max-height: 310px;
    overflow-y: auto;
}
.subjects .subject_details .tutor_picture{
    flex: 1;
    border: 1px solid black
}
.tutor_info{
    margin: 0;
}
.subjects .subject_details .tutor_info img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3px 10px 3px 3px;
}
.subject_details{
    padding: 5px 10px;
}
.subjects .subject_details .tutor_info {
    flex: 1;
    display: block;
}
.table {
    display: table;
    margin: 0 10px;
}
.table .tr{
    display: table-cell;
}
.tutor_toggles{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 35px;
}


.tutor_toggles .even-width{
    border-radius: 7px;
    border: none;
    width: 100px;
    margin: 5px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    background-color: rgba(2, 7, 80, 0.811);
    color: white;
    box-shadow: 1px 1px 5px 1px rgba(36, 35, 35, 0.6);
}

.float_left{
    float: left;
}
.float_left .tutor_name {
    display: block;
    font-style: italic;
    font-size: small;
    padding: 0 10px;
    margin: 0;
}

.float_left .contract {
    color: rgba(13, 13, 13, 0.7);
    font-size: 0.75em;
}

.tutor_subject{
    padding-right: 0 10px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 100);
    font-size: 0.9em;
}
.class_schedule, .time {
    font-size: small;
    padding: 0 10px 10px 10px;
}
.clearfix .status {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    float: right;
    margin: 10px;
    margin-right: 30px;
    background-color: rgb(20, 236, 20);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .hr{
    width: 95%;
    margin: 0 auto;
  }
  .hr hr{
    height: 1px;
    margin-top: 0;
  }

/* Right side of content container */
.right_pane {
    flex: 2;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgba(201, 199, 199, 0.11); */
    box-shadow: 1px 1px 5px 1px rgba(201, 199, 199, 0.369);
    border-radius: 10px;
    /* background: radial-gradient(white 20%, rgb(185, 200, 211)); */
    background-color: rgba(71, 63, 63, 0.086);
    margin: 20px 10px 20px 0px;
}
.right_content{
    margin: 20px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-size: 1.2em;
    line-height: 50px;
    font-weight: bold;
    color: rgba(2, 7, 80, 0.811);
}

.resize img{
    border-radius: 2%;
    width: 100%;
    height: 70px;
}