{% extends "generic_apps/base.html" %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <link rel="stylesheet" href="{% static 'styles/client_register.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'script/register.js' %}"></script>
    <script src="{% static 'script/signUp.js' %}"></script>
    <title>Client - SignUp</title>
{% endblock head %} 
<body>
{% block content %}
<br>

    {% block pricing %}
    {% endblock pricing %}

    {% block review %}
    {% endblock review %}

    {% block nav_right %}
    {% endblock nav_right %}

    {% block signup_button %}
    {% endblock signup_button %}

   <div class="register_container">
        <div class="register_container_inputs">
            <div class="logo">
               <img src="{% static 'images/logo/logo_icon.png' %}" alt="">
            </div>
            <h3 class="register_header">
                Register As 
            </h3>
            <hr class="wide_hr">
            <div class="register_as">   
                <div class="learner tr" data-url="{% url 'client_sign_up' %}">Learner</div>
                <div class="tutor tr" data-url="{% url 'tutor_sign_up' %}">Tutor</div>
            </div>
         
            <form class="learner_form" action="{% url 'client_sign_up' %}" method="POST">
                {% csrf_token %}
                <label for="useremail">
                    Email
                </label><br>
                <!-- <input type="text" name="useremail" placeholder="enter email" id=""><br><br> -->
                {{ form.email }} <br><br>
                <label for="username">
                    Username
                </label><br>
                <!-- <input type="text" name="username" placeholder="enter username"><br><br> -->
                {{ form.username }} <br><br>
                <label for="password">
                    Password
                </label><br>
                <!-- <input type="password" name="password" placeholder="enter password" id=""><br><br> -->
                {{ form.password1 }} <br><br>
                <label for="confirm_password">
                    Confirm Password
                </label><br>
                <!-- <input type="confirm_password" name="confirm_password" placeholder="********" id="" pattern=""><br><br><br> -->
                {{ form.password2 }} <br>
                
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <br><br>
                <input type="submit" value="Sign up">
            </form>

             <!-- Tutor Form -->
             <form class="tutor_form" action="{% url 'tutor_sign_up' %}" method="POST">
                {% csrf_token %}
                <label for="useremail">
                    Email
                </label><br>
                {{ form.email }}
                <!-- <input type="text" name="useremail" placeholder="enter email" id=""> -->
                <br><br>
                <label for="username">
                    Username
                </label><br>
                {{ form.username }}
                <!-- <input type="text" name="username" placeholder="enter username"> -->
                <br><br>
                <label for="specialization">
                    Specialization | Qualification
                </label><br>
                <div class="tutor_detail">
                    <section class="specialization_container">
                        {{ form.area_of_specialization }}
                        {% comment %} <input type="text" name="specialization" placeholder="enter specialization" id="specialization"> {% endcomment %}
                        <br><br>
                    </section>
                    <section class="qualification">
                        <select name="highest_qualification" id="id_highest_qualification">
                            <option value="" selected hidden>--select one--</option>
                            <option value="Phd" {% if form.highest_qualification.value == 'Phd' %} selected {% endif %} required>Msc</option>
                            <option value="Msc" {% if form.highest_qualification.value == 'Msc' %} selected {% endif %} required>Msc</option>
                            <option value="Bsc" {% if form.highest_qualification.value == 'Bsc' %} selected {% endif %} required>Bsc</option>
                            <option value="Beng" {% if form.highest_qualification.value == 'Beng' %} selected {% endif %} required>Bsc</option>
                            <option value="HND" {% if form.highest_qualification.value == 'HND' %} selected {% endif %} required>HND</option>
                            <option value="OND" {% if form.highest_qualification.value == 'OND' %} selected {% endif %} required>OND</option>
                            <option value="NCE" {% if form.highest_qualification.value == 'NCE' %} selected {% endif %} required>OND</option>
                            <option value="O-Level" {% if form.highest_qualification.value == 'O-Level' %} selected {% endif %} required>O-Level</option>
                            <option value="Others" {% if form.highest_qualification.value == 'Others' %} selected {% endif %} required>Other</option>
                        </select>               
                    </section>
                </div>
                <label for="password">
                    Password
                </label><br>
                {{ form.password1 }}
                <!-- <input type="password" name="password" placeholder="enter password" id=""> -->
                <br><br>
                <label for="confirm_password">
                    Confirm Password
                </label><br>
                {{ form.password2 }}
                <!-- <input type="confirm_password" name="confirm_password" placeholder="********" id="" pattern=""> -->
                <br><br><br>
                <br><input id="registerBtn" type="submit" value="Sign up">
            </form><br>


            <br>
            <center><p class="change_color hide_signup">or signup with</p></center>
            <div class="link_box_container">
                <div class="link_box">
                    <a href=""><img src="{% static 'images/socialLinks/google.png' %}" alt=""></a>
                </div>
                <div class="link_box">
                    <a href=""><img src="{% static 'images/socialLinks/facebook.png' %}" alt=""></a>
                </div>
                <div class="link_box">
                    <a href=""><img src="{% static 'images/socialLinks/github.png' %}" alt=""></a>
                </div>  
            </div>
            <div class="ending">
                <center><p class="change_color">Already have an account? <span><a href="">Login here</a></span></p></center>
            </div>
        </div>
   </div>
</div>
<br><br>
{% endblock content %}
</body>
