{% extends "generic_apps/base.html" %}
{% load static %}


{% block signup_button %}
    <div class='signUp_btn'><a href="{% url 'logoutUser' %}">SignOut</a></div>
{% endblock signup_button %}

{% block direction %}
    <a href="#" class="lessonpedia">                     
    <img  src="{% static 'images/logo/logo_icon.png' %}" alt=""><p style="padding-left: 8%;"></a>
    <a href="#" class="lessonpedia">LessonPedia</a></p>
{% endblock direction %} 

{% block homeBase %}                    
    <li><a href="{% url 'landing_page' %}">Home</a></li>
{% endblock homeBase %}

{% block review %}

{% endblock review %}

{% block content %}

    <!-- top:after nav page -->
    <div class="upper_section">
        <div class="pics_background">
            <img style="float: right;" src="{% static 'images/backgrounds/lady_background.png' %}" alt="">
            {% if messages %}
                {% for message in messages %}
                    <p class='intruder'>{{ message }}</p>
                {% endfor %}
            {% endif %}           

            <div class="left_label">
                <section class="top">
                    <p class="welcome">Hi <span>&nbsp;
                        {% if activeUser %}
                            {{activeUser}}
                        {% else %}
                            User
                        {% endif %}
                    </span></p>
                    <p>SUCCESSFUL COACHES ARE VISIONARIES</p>
                </section>

                <section class="mid">
                    <h3>Good <span>coaching</span> is <br> good teaching & <br> nothing else.</h3>
                </section>
                <section class="second_level_mid">
                    {% block explore %}
                        {% if model == 'tutor' %}
                            <a href="{% url 'tutor_dashboard' %}"><button id="explore">Explore Dashboard</button></a>
                        {% else %}
                            <a href="{% url 'validate_user' whoami=activeUser %}"><button id="explore">Explore Dashboard</button></a>
                        {% endif %}
                    {% endblock explore %}
                </section>
                
                <section class="last">
                    <input type="text" name="" id="" placeholder="What do you want to learn today?">
                    <section class="search">
                        <img src="{% static 'images/icons/inner_search.png' %}" alt=""><span>Search</span>
                    </section>
                </section>
            </div>
        </div>
    </div>

    <!-- mid division -->
    <div class="mid_div">
        <div class="moving_text">
            <marquee behavior="" direction="alternate">Lets place something moving here</marquee>
        </div>
    </div>

    <!-- featured tutors -->
    <div class="tutor_section">
        <div class="tutor_header">
            <h2><center>Featured Tutors</center></h2>
            <p><center>write some stuffs here <br>OgaChime</center></p>
        </div>

        <div class="all_tutors"> 
            <section class="tutors_display">
                <div class="tutor_image">
                    <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                </div>
                <article class="tutor_details">
                    <h3>Name: Chime Kingsley</h3>
                    <p>Area of Specialty: Software Engineering</p>
                    <p>Rank: <span class="rank">★★★★★</span></p>
                    <button>View</button>
                </article>
            </section>

            <section class="tutors_display">
                <div class="tutor_image">
                    <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                </div>
                <article class="tutor_details">
                    <h3>Name: Chime Kingsley</h3>
                    <p>Area of Specialty: Software Engineering</p>
                    <p>Rank: <span class="rank">★★★★★</span></p>
                    <button>View</button>
                </article>
            </section>

            <section class="tutors_display">
                <div class="tutor_image">
                    <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                </div>
                <article class="tutor_details">
                    <h3>Name: Chime Kingsley</h3>
                    <p>Area of Specialty: Software Engineering</p>
                    <p>Rank: <span class="rank">★★★★★</span></p>
                    <button>View</button>
                </article>
            </section>

            <section class="tutors_display">
                <div class="tutor_image">
                    <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                </div>
                <article class="tutor_details">
                    <h3>Name: Chime Kingsley</h3>
                    <p>Area of Specialty: Software Engineering</p>
                    <p>Rank: <span class="rank">★★★★★</span></p>
                    <button>View</button>
                </article>
            </section>

            <section class="tutors_display">
                <div class="tutor_image">
                    <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                </div>
                <article class="tutor_details">
                    <h3>Name: Chime Kingsley</h3>
                    <p>Area of Specialty: Software Engineering</p>
                    <p>Rank: <span class="rank">★★★★★</span></p>
                    <button>View</button>
                </article>
            </section>

            <section class="tutors_display">
                <div class="tutor_image">
                    <img src="{% static 'images/tutors/pass.jpg' %}" alt="">
                </div>
                <article class="tutor_details">
                    <h3>Name: Chime Kingsley</h3>
                    <p>Area of Specialty: Software Engineering</p>
                    <p>Rank: <span class="rank">★★★★★</span></p>
                    <button>View</button>
                </article>
            </section>
        </div>
    </div>

    <div class="emty">

    </div>

    <!-- Frequent questions -->
        <!--frequent questions-->
    <div class="questions">
        <div class="questionContent">
            <h3 class="questionsh3">Frequently asked Questions</h3>
            <div class="freq_questions">
                <section class="content">
                    <h3>Who can use the E-Question? <img class="rightArrow" src="{% static 'images/icons/arrow-up.png' %}" alt=""></h3>
                    <p>
                        Anyone wishing for a revolutionize learning experience by seemslessly integrating innovative technology with interactive questions. it aims to inspire curosity, foster engagement, and transform traditional education method.
                    </p>
                    
                </section>

                <section class="content">
                    <h3>Must I be a student of Heritage Polytechnic?<img class="rightArrow" src="{% static 'images/icons/arrow-up.png' %}" alt=""></h3>
                    <p>
                        At the moment, the platform is designed in favour for the students of heritage polytechnic who aims at maximizing their potentials in academics and morals. Not withstanding, we will be maximizing this to reach out to the public
                    </p>
                </section>

                <section class="content">
                    <h3>Is this platform accessible offline?<img class="rightArrow" src="{% static 'images/icons/arrow-up.png' %}" alt=""></h3>
                    <p>
                        The portal is accesible only via the internet as the answers to the questions found on the portal are documented in real time
                    </p>
                </section>
            </div>
        </div>   
    </div>

    <div class="epty">

    </div>
        
{% endblock content %}