<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'script/register.js' %}"></script>
    <title>Register</title>
</head>
<body>
   <div class="register_container">
        <div class="register_container_inputs">
            <div class="logo">
               <img src="{% static 'images/socialLinks/github.png' %}" alt="">
            </div>
            <h3 class="register_header">
                Register As 
            </h3>
            <hr class="wide_hr">
            <div class="register_as">   
                <div class="learner tr">Learner</div>
                <div class="tutor tr">Tutor</div>
            </div>
         
            <form class="learner_form" method='post' action="{% url 'client_sign_up' %}">
                {% csrf_token %}
                <label for="useremail">
                    Email
                </label><br>
                {{ form.email }}
                <br><br>
                <label for="username">
                    Username
                </label><br>
                {{ form.username }}
                <br><br>

                <label for="password">
                    Password
                </label><br>
                {{ form.password1 }}

                <br><br>
                <label for="confirm_password">
                    Confirm Password
                </label><br>
                {{ form.password2 }}

                <br><br><br>
                <input type="submit" value="Sign up">
            </form>

            <!-- Tutor Form -->
            <form class="tutor_form" method="post" action="{% url 'tutor_sign_up' %}">
                {% csrf_token %}
                <label for="useremail">
                    Email
                </label><br>
                {% comment %} <input type="text" name="useremail" placeholder="enter email" id=""> {% endcomment %}
                {{ form.email }}

                <br><br>
                <label for="username">
                    Username
                </label><br>
                {% comment %} <input type="text" name="username" placeholder="enter username"> {% endcomment %}
                {{ form.username }}

                <br><br>
                <label for="specialization">
                    Specialization | Qualification
                </label><br>
                <div class="tutor_detail">
                    <section class="specialization_container">
                        <input type="text" name="specialization" placeholder="enter specialization" id="specialization">
                        {{ form.area_of_specialization }}
                    </section>

                    <section class="qualification">
                        <select name="highest_qualification" id="id_highest_qualification">
                            <option value="" selected hidden>Highest Qualification</option>
                            <option value="Msc" {% if form.highest_qualification.value == 'Msc' %} selected {% endif %} required>Msc</option>
                            <option value="Bsc" {% if form.highest_qualification.value == 'Bsc' %} selected {% endif %} required>Bsc</option>
                            <option value="HND" {% if form.highest_qualification.value == 'HND' %} selected {% endif %} required>HND</option>
                            <option value="OND" {% if form.highest_qualification.value == 'OND' %} selected {% endif %} required>OND</option>
                            <option value="O-Level" {% if form.highest_qualification.value == 'O-Level' %} selected {% endif %} required>O-Level</option>
                            <option value="Other" {% if form.highest_qualification.value == 'Other' %} selected {% endif %} required>Other</option>
                        </select>               
                    </section>
                </div>
                <label for="password">
                    Password
                </label><br>
                {% comment %} <input type="password" name="password" placeholder="enter password" id=""> {% endcomment %}
                {{ form.password1 }}
                <br><br>
                <label for="confirm_password">
                    Confirm Password
                </label><br>
                {% comment %} <input type="confirm_password" name="confirm_password" placeholder="********" id="" pattern=""> {% endcomment %}
                {{ form.password2 }}

                <br><br><br>
                <br><input type="submit" value="Sign up">
            </form><br>
            <center><p class="change_color hide_signup">or signup with</p></center>
            <div class="link_box_container">
                <div class="link_box">
                    <a href=""><img src="{% static 'images/socialLinks/google.png' %}" alt=""></a>
                </div>
                <div class="link_box">
                    <a href=""><img src="{% static 'images/socialLinks/facebook.png' %}" alt=""></a>
                </div>
                <div class="link_box">
                    <a href=""><img src="{% static 'images/socialLinks/github.png' %}" alt=""></a>
                </div>  
            </div>
            <div class="ending">
                <center><p class="change_color">Already have an account? <span><a href="">Login here</a></span></p></center>
            </div>
        </div>
   </div>
    
</body>
</html>