{% extends "generic_apps/base.html" %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <link rel="stylesheet" href="{% static 'styles/tutor_register.css' %}">
    <link rel="stylesheet" href="{% static 'styles/tutor_messages.css' %}">
    <script src="{% static 'script/tutor_messages.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'script/signUp.js' %}"></script>
    <title>Tutor - SignUp</title>
{% endblock head %}
<body>
{% block content %}
    <div class="flash-container">
        {% if messages %}
            {% for message in messages %}
                {% if forloop.last %}
                <div class="flash-message {% if message.tags %}flash-{{ message.tags }}{% endif %}">
                    <p style="font-weight: bold;">{{ message }}</p>
                    <button class="flash-close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% block pricing %}
    {% endblock pricing %}

    {% block review %}
    {% endblock review %}

    {% block nav_right %}
    {% endblock nav_right %}

    {% block signup_button %}
    {% endblock signup_button %}

   <div class="register_container">
        <div class="register_container_inputs">
            <div class="logo">
               <img src="{% static 'images/logo/logo_icon.png' %}" alt="">
            </div>
            <h3 class="register_header">
                Register As
            </h3>
            <hr class="wide_hr">
            <div class="register_as">
                <div class="learner tr" data-url="{% url 'client_sign_up' %}">Learner</div>
                <div class="tutor tr" data-url="{% url 'tutor_sign_up' %}">Tutor</div>
            </div>

            <form class="learner_form" action="{% url 'client_sign_up' %}" method="POST">
                {% csrf_token %}
                <label for="useremail">
                    Email
                </label><br>
                <!-- <input type="text" name="useremail" placeholder="enter email" id=""><br><br> -->
                {{ form.email }} <br><br>
                <label for="username">
                    Username
                </label><br>
                <!-- <input type="text" name="username" placeholder="enter username"><br><br> -->
                {{ form.username }} <br><br>
                <label for="password">
                    Password
                </label><br>
                <!-- <input type="password" name="password" placeholder="enter password" id=""><br><br> -->
                {{ form.password1 }} <br><br>
                <label for="confirm_password">
                    Confirm Password
                </label><br>
                <!-- <input type="confirm_password" name="confirm_password" placeholder="********" id="" pattern=""><br><br><br> -->
                {{ form.password2 }} <br>

                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <br><br>
                <input type="submit" value="Sign up">
            </form>

            <!-- Tutor Form -->
            <form class="tutor_form" action="{% url 'tutor_sign_up' %}" method="POST">
                {% csrf_token %}
                <label for="useremail">
                    Email
                </label><br>
                {{ form.email }}
                <!-- <input type="text" name="useremail" placeholder="enter email" id=""> -->
                <br><br>
                <label for="username">
                    Username
                </label><br>
                {{ form.username }}
                <!-- <input type="text" name="username" placeholder="enter username"> -->
                <br><br>
                <label for="specialization">
                    Primary Subject | Qualification
                </label><br>
                <div class="tutor_detail">
                    <section class="specialization_container">
                        {{ form.primary_subject }}
                        {% comment %} <input type="text" name="specialization" placeholder="enter specialization" id="specialization"> {% endcomment %}
                        <br><br>
                    </section>

                        <!--<section class="qualification">-->
                        <!--    <select name="highest_qualification" id="id_highest_qualification">-->
                        <!--        <option value="" selected hidden>--select one--</option>-->
                        <!--        {% for choice_value, choice_label in form.highest_qualification.choices %}-->
                        <!--            <option value="{{ choice_value }}" {% if form.highest_qualification.value == choice_value %} selected {% endif %} required>{{ choice_label }}</option>-->
                        <!--        {% endfor %}-->
                        <!--    </select>-->
                        <!--</section>-->

                    <section class="qualification">
                        <select name="highest_qualification" id="id_highest_qualification">
                            <option value="" selected hidden>--select one--</option>
                            <option value="Phd" {% if form.highest_qualification.value == 'Phd' %} selected {% endif %} required>Phd</option>
                            <option value="Msc" {% if form.highest_qualification.value == 'Msc' %} selected {% endif %} required>Msc</option>
                            <option value="BED" {% if form.highest_qualification.value == 'BED' %} selected {% endif %} required>BED</option>
                            <option value="BSC" {% if form.highest_qualification.value == 'BSC' %} selected {% endif %} required>BSC</option>
                            <option value="BENG" {% if form.highest_qualification.value == 'BENG' %} selected {% endif %} required>BENG</option>
                            <option value="HND" {% if form.highest_qualification.value == 'HND' %} selected {% endif %} required>HND</option>
                            <option value="OND" {% if form.highest_qualification.value == 'OND' %} selected {% endif %} required>OND</option>
                            <option value="NCE" {% if form.highest_qualification.value == 'NCE' %} selected {% endif %} required>NCE</option>
                            <option value="SSCE" {% if form.highest_qualification.value == 'SSCE' %} selected {% endif %} required>SSCE</option>
                            <option value="Others" {% if form.highest_qualification.value == 'Others' %} selected {% endif %} required>Others</option>
                        </select>
                    </section>

                </div>
                <label for="password">
                    Password
                </label><br>
                {{ form.password1 }}
                <!-- <input type="password" name="password" placeholder="enter password" id=""> -->
                <br><br>
                <label for="confirm_password">
                    Confirm Password
                </label><br>
                {{ form.password2 }}
                <!-- <input type="confirm_password" name="confirm_password" placeholder="********" id="" pattern=""> -->
                <br><br><br>
                <br><input id="registerBtn" type="submit" value="Sign up">
            </form><br>

            <center><p class="change_color hide_signup">or signup with</p></center>
            <div class="link_box_container">
                <div class="link_box">
                    <a href=""><img src="{% static 'images/socialLinks/google.png' %}" alt=""></a>
                </div>
                <div class="link_box">
                    <a href=""><img src="{% static 'images/socialLinks/facebook.png' %}" alt=""></a>
                </div>
                <div class="link_box">
                    <a href=""><img src="{% static 'images/socialLinks/github.png' %}" alt=""></a>
                </div>
            </div>
            <div class="ending">
                <center><p class="change_color">Already have an account? <span><a href="{% url 'tutor_login' %}">Login here</a></span></p></center>
            </div>
        </div>
   </div>
<br><br>
{% endblock content %}
</body>