@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Inika:wght@400;700&family=Marko+One&family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Inika:wght@400;700&family=Marko+One&family=Rowdies&family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Hedvig+Letters+Sans&family=Inika:wght@400;700&family=Marko+One&family=Rowdies&family=Saira&display=swap');


.background {
    background-image: url(/lessonpedia/static/images/backgrounds/tutorsDashB.png);
    background-repeat: no-repeat;
    background-size:cover;
    /* position: fixed; */

}
.bg {
    background-color: rgba(246, 246, 246, 0.584);
    height: 720px;
    border-radius: 3px;
    /* position: fixed; */
}
.tutor_dasboard {
    display: flex;
    flex-direction:row;
    height: 100%;
    /* vertical-align: middle; */
    align-items: center;
    /*  */

}

.left_section{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 10px 1px rgba(53, 51, 51, 0.539);
    height: 680px;
    min-width: 220px;
    background-color: rgba(252, 252, 252, 0.922);
    margin: 10px 0px 10px 10px;
    border-radius: 10px 0 0 10px;
    padding: 2px 10px 10px 20px;
    /* position: fixed; */
    color: rgb(0, 0, 100);
}

.mid_section {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    height: 680px;
    width: 950px;
    background-color: rgba(210, 232, 251, 0.926);
    margin-right: 0px;
    /* border-radius: 2px 10px 10px 2px; */
    padding: 2px 30px 10px 30px;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

.right_section {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    height: 680px;
    min-width: 180px;
    background-color: rgba(252, 252, 252, 0.922);
    margin-right: 10px;
    border-radius: 2px 10px 10px 2px;
    padding: 2px 30px 10px 30px;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

/* left_section */
.user_details img {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    margin-bottom: 0px;
}

.user_details{
    display: inline-block;
    line-height: 0px;
    margin-bottom: 0px;
    /* font-size: medium; */
} 


.left_section h4 {
    font-weight:bold;
    font-size: x-large;
    margin: 15px 0px 30px 0px;
    text-align: left;
}

.nav_box {
 /* border: 1px solid rgb(8, 8, 25); */
    padding: 0px;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.742);
    border-radius: 10px 0 0 10px;
    box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.539);
    
}

.nav_li {
    list-style-type: none;
    padding: 18px;  
}

.nav_links a{
    text-decoration: none;
    display: inline-block;
    /* height: 10px; */
    color: rgb(0, 0, 100);
    width: 90%;
    padding-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.539);
    font-size: larger;
}

/* logic for nav links */
.active a{
    border-bottom: 2px solid greenyellow;
    border-right: 2px solid greenyellow;
    box-shadow: 5px 0 10px -5px rgba(172, 255, 47, 0.573),/* Right shadow */
                0 5px 5px -5px rgba(172, 255, 47, 0.577); /* bottom shadow */
    font-weight: bolder;
}

.content_divs {
    display: none;
}

.logout{
    text-decoration: none;
    text-align: left;
    font-weight: 400;
    color: rgb(0, 0, 100);
    font-size:large;
    cursor: pointer;
}

/* right_section */

.username_size i{
    font-weight: 700;
    font-size: x-large;
    color: rgb(0, 0, 100);
}

.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    height: 130px;
    width: 930px;
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.556);
    border-radius: 10px;
}

.stats .stats_details {
    box-sizing: border-box;
    /* border: 1px solid black; */
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
}

.stats_details p{
    font-weight: 700;
    font-size: medium;
    margin-top: 10px;
    padding-left: 20px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    
}

.stats_details h3 {
    text-align: right;
    padding-right: 20px;
}

.myclient{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.556);
    height: 430px;
    width: 900px;
    border-radius: 10px;
    padding: 15px;
}

.client_list_n_search {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: space-between;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.75), /* Top shadow */
                5px 0 5px -5px rgba(0, 0, 0, 0.75),  /* Right shadow */
                -5px 0 5px -5px rgba(0, 0, 0, 0.75)
}

.client_list_n_search h3{
    padding-left: 20px;
    font-weight:900;
    font-size: x-large;
}

.search{
    display: flex;
    align-items: center;
}
.search .search-box{
    width: 200px;
    line-height: 25px;
    margin-right: 2px;
    border-radius: 5px;
    margin-bottom: 0px;
    border-color: rgba(128, 128, 128, 0.385);
}

.search input:focus{
    outline-color: rgba(0, 17, 128, 0.323);
}

.client_list_table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: px;
    height: 200px;
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
}

.client_list_table th, .client_list_table td {
 border-bottom: 1px solid #ddd;
 background-color: white;
 padding: 10px;
 font-size: medium;
 text-align: left;
 font-family: 'Inika', serif;
}


.client_list_table th {
    background-color: #deba0819;
}

.client_table-container {
    max-height: 350px; /* Set the maximum height for the table */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
    box-shadow:   5px 0 5px -5px rgba(0, 0, 0, 0.75),  /* Right shadow */
                  -5px 0 5px -5px rgba(0, 0, 0, 0.75), /* Left shadow */
                  0 5px 5px -5px rgba(0, 0, 0, 0.75); /* bottom shadow */
}
/* button,  */
.search_button{
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(2, 7, 80, 0.811);
    color: white;
    cursor: pointer;
    border: none
}

.btn_green button:hover {
    color: #38f04a;
}

.search_button {
    width: 100px;
    margin-left: 0px;
    margin-right: 40px;
}

.subject_add_container button,
.working_schedule_contents button,
.profileUpdate button,
.report_btn button,
.cancel_contract_btn button{
    padding-left: 1px;
    padding-right: 1px;
    cursor: pointer;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(2, 7, 80, 0.811);
    color: white;
    cursor: pointer;
    border: none;
    width: 60px;
}

.subject_add_container button{
    width: 200px;
}

.cancel_btn button:hover {
    background-color: rgb(166, 13, 13);
    color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
}

input[type="submit"]:hover,
.subject_add_container button:hover,
.working_schedule_contents button:hover{
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
    background-color: rgba(2, 7, 80, 0.979);

    
}

.report_btn button:hover {
    background-color: rgba(2, 7, 80, 0.979);
    color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
}

.report_btn_activation, 
.cancel_contract_btn_activation,
.review_link_popup_activation,
.reports_view_popup_activation {
    display: none;
}

/* quick links */

.qlinks {
    list-style-type:  none;
    text-align: left;
    padding-left: 0px;
}

.qlinks li {
    margin-bottom: 10px;
    color: rgba(0, 17, 128);
    cursor: pointer;
}

.qlinks a {
    text-decoration: none;
    /* margin-bottom: px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300;
    color: rgba(0, 17, 128);;
}

/* Programs start */
.program_pane{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 2px 2px 10px 2px rgb(201, 199, 199);
    border-radius: 10px;
    background: radial-gradient(white 50%, rgb(225, 238, 249));
    margin-top: 10px;
    height: 460px;
    width: 930px;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

.subject_add_display,
.subject_update_display,
.subject_remove_display{
    display: none;
}

.subject_list {
    padding: 20px;
    line-height: 25px;
}

.subject_table {
    width: 100%;
    border-collapse: collapse;
}

.subject_table th,
.subject_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.subject_table th {
    background-color: rgba(0, 17, 128);
    color: white;
    font-size: larger;
}
.subject_add_container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.subject_add_container h2, .subject_list h2{
    border-bottom: 1px solid rgba(0, 17, 128);
    color: rgba(0, 17, 128);
    margin-bottom: 25px;
}
.subject_form_group{
    margin-bottom: 15px;
}
.subject_add_container label {
    /* display: block; */
    margin-bottom: 5px;
}
.subject_add_container input[type="text"],
.subject_add_container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline-color: rgba(0, 17, 128, 0.323);
}

.subject_add_container select {
    width: 100%;
}
#subjectForm input {
    width: 100%;
}
.subject_save_btn{
    width: 200px;
}


/* Settings */

.left_pane {
    /* flex: 4; */
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 2px 2px 10px 2px rgb(201, 199, 199);
    border-radius: 10px;
    background: radial-gradient(white 50%, rgb(225, 238, 249));
    margin: 15px;
    height: 600px;
    width: 900px;
}

.left_pane .profile_info {
    padding: 20px 0px 15px 40px;
    margin-bottom: 0px;
    align-items: center;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.351);
    font-family: 'Hedvig Letters Sans', sans-serif;
    margin: 20px;
    background-color: rgba(104, 104, 120, 0.295);
    border-radius: 50px;
    color: rgb(0, 5, 93);
    border-bottom: 3px solid rgba(2, 7, 80, 0.705);
    font-size: large;
}

.left_pane .profile_info h2{
    margin-top: 0px;
    margin-bottom: 2px;
}

.left_pane .profile_info span{
    font-family: 'DM Sans', sans-serif;
}
.db{
    display: block;
}
.change_password_control_display{
    display: none;
}

.deactivate_account_control_display{
    display: none;
}

.logout_btn {
    display: none;
}


/* settings Nav-bar */
.update_elements{
    display: flex;
    justify-content: start;
    padding-right: 10px;
}

.update_elements table{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

.update_elements td{
    padding: 5px 20px 5px 20px;
    font-family: 'Inika', serif;
    cursor: pointer;
    font-size: medium;
}

.update_elements #update_profile{
    border: 1px solid black;
    border-bottom: 1px solid transparent;
    color:rgb(3, 120, 3)
}

.update_elements #deactivate_account{
    color: red;
}

/* profile update */
.profile_control_display{
    display: non;
}

.profileUpdate{
    display: flex;
}

.profile_update_content{
    width: 80%;
    height: 420px;
    margin: auto auto;
    margin-top: 20px;
    border: 1px solid rgba(140, 139, 132, 0.421);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.266);
    padding: 0px 20px 0px 20px;
    background-color: rgba(245, 222, 179, 0.141);
    overflow-y: auto;
}

.profile_update_content h3{
    font-family: 'DM Sans', sans-serif;
    margin-top: 40px;
    margin-left: 40px;
    color:rgb(0, 5, 93)
}

.profile_update_content span{
    color: black;
}

.profile_update_content label{
    color:rgb(0, 5, 93);
    font-size: small;
    border-bottom: 0px;
}
.profile_update_content input{
    width: 50%;
    line-height: 20px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-color: rgba(128, 128, 128, 0.385);
}
.profile_update_content select{
    border-radius: 4px;
    border: 2px solid rgba(128, 128, 128, 0.385);;
}

.profile_update_content .extend{
    width: 30%;
}



/* Update profile form */
/* start */


.form-table {
    display: table;
    width: 100%;
    line-height: 22px;
    border-collapse: collapse;
}

.form-table .table-row {
    display: table-row;
}

.form-table .table-cell {
    display: table-cell;
    padding: 8px;
    /* border: 1px solid black; */
}

.form-table .table-cell:nth-child(odd) {
    width: 30%;
}

.form-table .table-cell:nth-child(even) {
    width: 30%;
}


input[type='text'],
input[type='tel'],
input[type='date'] {
    font-size: medium;
    width: 90%;
    padding: 8px;
    margin-bottom: 5px;
    /* height: 10px; */
}
select{
    width: calc(100% - 16px);
    /* padding: 10px; */
    margin-bottom: 0px;
    font-size: medium;
    height: 38px;
    margin-bottom: 5px;
}
.statement{
    width: 200%;
}
.statement textarea {
    width: 93%;
    font-size: medium;
    height: 100px;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.385);
    padding: 10px;
    margin: 7px;
}



/* stop */

/* Update Schedule form */
/* Start */
.working_schedule{
    display: none;
}

.working_schedule_contents{
    display: flex;
    flex-direction: row;
    padding: 20px 40px 40px 40px;
    line-height: 30px;
    justify-content:flex-start;
}

.work_options{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 140px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgba(252, 251, 237, 0.748);
    box-shadow: 1px 1px 10px rgba(116, 115, 115, 0.779);
}

.working_schedule button{
    width: 130px;
    margin-left: 15px;
    
}

.save_button_work {
    padding: 10px;
    margin-top: 10px;
}

.schedule_display{
    display: flex;
    border: 1px solid rgba(196, 196, 196, 0.642);
    height: 410px;
    width: 460px;
    overflow-y: auto;
    background-color: rgba(252, 251, 237, 0.748);
}

.schedule_display h2{
    font-size: medium;
    margin-top: 0px;
}
.tutor_subject {
    width: 225px;
    padding: 5px;
}
.tutor_subject table{
    width: 190px;
}
.tutor_hours {
    width: 210px;
    padding: 5px;
    border-left: 4px solid rgba(0, 17, 128, 0.211);
}

/* stop */

/* Uploads  start*/

.doc_uploads{
    font-family: 'Hedvig Letters Sans', sans-serif;
    display: none;
    margin: 15px 10px;
    padding: 10px;
    height: 600px;
    width: 94.5%;
    border-radius: 5px;
    line-height: 15px;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 10px rgba(116, 115, 115, 0.779);

}

.doc_uploads_flex{
    display: inline-block;
    width: 100%;
    padding: 0px 30px;
    /* height: 40px; */
}

.doc_uploads_flex .docs{
    display: flex;
}

.doc_uploads input{
    box-shadow: 1px 1px 10px rgba(116, 115, 115, 0.779);
}

.doc_uploads h3{
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: 900;
}

.doc_uploads .save_btn{
    border-radius: 5px;
    background-color: rgba(0, 3, 65, 0.886);
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid rgba(245, 222, 179, 0.475);
    font-size: small;
    height: 25px;
    width: 150px;
}
/* upload stop */

.profile_update_content input:focus{
    outline-color: rgba(0, 17, 128, 0.323);
}

.profile_update_content .save_button{
    margin: auto auto;
    display: block;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0, 3, 65, 0.886);
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid rgba(245, 222, 179, 0.475);
}
.profile_update_content button:hover{
    color: #38f04a;
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
}

.dp{
    display: flex;
    justify-content: center;
    float: right;
    flex-direction: column;
    margin-top: 20px;
}

.dp img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: block;
    margin: auto auto;
    margin-bottom: 2px;
    margin-right: 50px;
}

.dp p{
    font-size: small;
    color: rgba(128, 128, 128, 0.769);
    margin-top: 2px;
    cursor: pointer;
    border-bottom: 2px solid gray;
}

.deactivate_account_control_display,
.logout_btn,
.report_btn_activation, 
.cancel_contract_btn_activation,
.review_link_popup_activation,
.reports_view_popup_activation {
    position: absolute;
    backdrop-filter: brightness(0.1);
    width: 100vw;
    height: 100vh;
}

.deactivateAccount,
.logout_btn_account,
.report_btn_account,
.contract_btn_account,
.reviews_window,
.reports_window {
    width: 50%;
    height: 410px;
    margin: auto auto;
    margin-top: 20px;
    border: 1px solid rgba(140, 139, 132, 0.421);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(243, 240, 240, 0.705);
    padding: 0px 20px 0px 20px;
    background-color: rgb(251, 251, 251);
    margin-top: 10%;
    border-bottom: 2px solid red;
}

.report_btn_account,
.contract_btn_account,
.reviews_window,
.reports_window {
    min-width: 400px;
}

.warning {
    margin-top: 20px;
}

.warning img{
    width: 80px;
    height: 70px;
    display: block;
    margin: auto;
}

.warning_box{
    margin: auto auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.warning .confirm_dialog{
    margin-top: 0px;
    font-size: x-large;
    font-weight: 800;
    color: red;
    font-family: 'Marko One', serif;
}

.warning .action{
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(203, 194, 194);
}

.report_display {
    padding: 10px;
}

.selections, .report_buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.selections button{
    padding: 20px 80px 20px 80px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 800;
    color: white;
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.report_buttons button {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    width: 150px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.selections .confirm_remove, .selections .confirm_logout{
    background-color: red;
}

.selections .mistake, .selections .cancel_logout, .submit_report, .cancel_report{
    background-color: blue;
}

.report_display select {
    width: 100%;
    border-radius: 5px;
    outline-color: rgba(0, 17, 128, 0.323);
}

.report_display textarea {
    width: 100%;
    min-height: 150px;
    outline-color: rgba(0, 17, 128, 0.323);
}

/* Table sorting css */
/* <div class="sort_tables">
<form id="sortForm"> */
.sort_tables form {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    font-size: small;
}
  
.sort_tables label {
    font-weight: bold;
    margin-bottom: 0px;
    /* display: ; */
}
  
.sort_tables select {
    padding: 2px;
    font-size: 13px;
    font-weight:500;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 150px;
    margin-bottom: px;
    outline-color: rgba(0, 17, 128, 0.348);
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.253);
}
  
.sort_tables input[type="submit"] {
    padding: 2px;
    background-color: rgb(0, 17, 128);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 60px;
    height: 30px;
    margin-left: 2px;
}

/* review popUp css */
.reviews_window, .reports_window {
    width: 70%; /* overides a previous css group width */
    height: 500px;
    margin-top: 100px;
}

.review_display, .report_display {
    padding: 25px;
    overflow-y: auto;
    height: 400px;
    margin: 30px;
}

.close_review{
    display: block;
    cursor: pointer;
}
.review_table .clientName, .report_table .reportReason {
    width: 180px;
}
.review_table .rating, .review_table .reviewDate, .report_table .reportDate {
    width: 100px;
}

.review_table .reviewStatement,
.report_table .reportStatement{
    min-width: 300px;
}

.review_table table {
    border-collapse: collapse;
    width: 100%;
}
.review_table th, .review_table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
.review_table th {
    background-color: rgba(0, 17, 128, 0.326);
    cursor: pointer;
}
.review_table th:hover {
    background-color: #ddd;
}


/* update schedule css extras */
.inactive {
    opacity: 0.5;
    pointer-events: none;
}

.scheduleButton {
    margin-top: -50px;
    margin-left: 50px;
}

.scheduleButton button{
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(2, 7, 80, 0.811);
    color: white;
    cursor: pointer;
    border: none
}

.scheduleButton button:hover {
    background-color: rgb(2, 7, 80);
    box-shadow: 1px 1px 10px rgba(243, 240, 240);
}

th {
    cursor: pointer;
}
