<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/lessonpedia/static/css/admin_dashboard.css" %}">
    <link rel="stylesheet" href="{% static "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %}">
    <script src="{% static "https://kit.fontawesome.com/11285bfb5b.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "https://code.jquery.com/jquery-3.6.4.min.js" %}"></script>
    <script src="{% static "{% static 'static/script/admin_dashboard.js' %}" %}"></script>
    <title>Admin - Dashboard</title>
</head>
<body>
    <!-- disable account -->
    <div class="set_disable_account">
        <div class="disable_account">
            <div class="disable_account_content">
                <p class="disable_close" title="close">
                    x
                </p>
                <div class="disable_warning">
                    <section>
                        <img src="{% static "/lessonpedia/static/images/icons/warning.png" %}" alt="">
                    </section>
                    <div class="disable_warning_box">
                        <p class="confirm_dialog">Warning!</p>
                        <p class="disable_action">You are about suspending the active user, Proceed?</p>
                    </div>
                    <div class="selections">
                        <button class="confirm_remove">Suspend</button>
                        <button class="mistake">Cancel</button>
                    </div>
                </div>           
            </div>
        </div>
    </div>

    <!-- take action -->
    <div class="set_action">
        <div class="activate_action">
            <div class="action_dialog">
                <section class="top_action">
                    <div class="header">
                        <section class="push_right">
                            <p class="active_user">Active User: <span class="selected_user">Selected User</span> <span class="close" title="close">X</span></p>
                            <p class="selected_email">selected email</p>
                        </section>
                    <h2>Take Action</h2>
                        
                    </div>
                    <p class="active_admin_user">You are responsible for this action @ <span class="active_admin">AdminUsername</span></p>
                </section>

                <div class="flex_content">
                    <div class="action_content">
                        <div class="action_leftpane">
                            <p class="action_head">Admin Privilege</p>
                            <p class="fa-solid fa-street-view"><span class="action_list" id="activate_views">Views</span></p><br>
                            <p class="fa-solid fa-user-minus"><span class="action_list" id="activate_suspend">Suspend Account</span></p>
                            <p class="fa-solid fa-user-xmark"><span class="action_list" id="activate_block">Block Account</span></p>
                            <p class="fa-solid fa-xmark"><span class="action_list" id="activate_remove">Remove Account</span></p>
                            <footer class="pedia">
                                @lessonpedia 
                            </footer>
                        </div>
                    </div>
                    
                    <div class="view_container">
                        <div class="nav_content">
                            <p class="list_content" id="activate_profile">Profile</p>
                            <p class="list_content" id="activate_review">Review</p>
                            <p class="list_content" id="activate_report">Report</p>
                        </div>

                        <div class="profile_view">
                            <div class="details">

                                <section class="details_dp">
                                    <img src="{% static "/lessonpedia/static/images/tutors/pass.jpg" %}" alt="">
                                    <p class="profile_userName">profile userName</p>
                                </section>

                                <section class="head">
                                    <h4 class="display_full_name">Gentle Inyang  <span class="sex">(M)</span></h4>
                                    <p class="display_number">08039678842</p>
                                </section>

                                <div class="set_other_details">
                                    <section class="other_details">
                                        <section class="bio_data">
                                            <fieldset><legend>Residential Address</legend>
                                                <p class="tag">Address: <p class="value">24, Anthony village, Ikorodu</p></p>
                                                <p class="tag">State of Resident/Nationality:</p>
                                                <section class="state_national">
                                                    <p class="state">Lagos</p>
                                                    <p class="national">Nigeria</p>
                                                </section>                                            
                                            </fieldset>
                                        </section><br>

                                        <!-- Tutors details -->
                                        <div class="set_tutors_details">
                                            <section class="academics">
                                                <section class="bio_data">
                                                    <fieldset><legend>Academic Details</legend>
                                                        <button class="cv_view">View CV</button>
                                                        <p class="tag">Institution Attended: <p class="value">Iscom University, Benin Republic</p></p>
                                                        <p class="tag">Specialization/Qualification/CGPA:</p>
                                                        <section class="state_national">
                                                            <p class="state">Software Engineering</p>
                                                            <p class="national grade">Msc</p>
                                                            <p class="national gpa">4.2</p>
                                                        </section>
                                                        
                                                    </fieldset>
                                                </section>
                                            </section><br>

                                            <section class="engagements">
                                                <section class="bio_data">
                                                    <fieldset><legend>Engagements</legend>             
                                                        <p class="tag">Employment/Status:</p>
                                                        <section class="state_national">
                                                            <p class="state grade">Employed</p>
                                                            <p class="national accepted">Full time</p>
                                                        </section>
                                                        <p class="tag">Availability: <p class="value">Hybrid</p></p>
                                                        <p class="tag">Clients: Total/Accepted/Rejected</p>
                                                        <section class="state_national">
                                                            <p class="state total">Total: 21</p>
                                                            <p class="national accepted">Accepted: 5</p>
                                                            <p class="national gpa">Rejected: 16</p>
                                                        </section>
                                                        <p class="tag">Ranking: <p class="value">Average Rank: 4 stars</p></p>                                                
                                                    </fieldset>
                                                </section>
                                            </section>
                                        </div>

                                        <!-- Learners details -->
                                        <div class="set_Learners_details">
                                            <!-- <section class="academics">
                                                <section class="bio_data">
                                                    <fieldset><legend>Academic Details</legend>
                                                        <button class="cv_view">View CV</button>
                                                        <p class="tag">Institution Attended: <p class="value">Iscom University, Benin Republic</p></p>
                                                        <p class="tag">Specialization/Qualification/CGPA:</p>
                                                        <section class="state_national">
                                                            <p class="state">Software Engineering</p>
                                                            <p class="national grade">Msc</p>
                                                            <p class="national gpa">4.2</p>
                                                        </section>
                                                        
                                                    </fieldset>
                                                </section>
                                            </section><br> -->

                                            <!-- <section class="engagements">
                                                <section class="bio_data">
                                                    <fieldset><legend>Engagements</legend>             
                                                        <p class="tag">Employment/Status:</p>
                                                        <section class="state_national">
                                                            <p class="state grade">Employed</p>
                                                            <p class="national accepted">Full time</p>
                                                        </section>
                                                        <p class="tag">Availability: <p class="value">Hybrid</p></p>
                                                        <p class="tag">Tutors: Total/Accepted/Pending</p>
                                                        <section class="state_national">
                                                            <p class="state total">Request: 10</p>
                                                            <p class="national accepted">Accepted: 8</p>
                                                            <p class="national gpa">Pending: 2</p>
                                                        </section>                                                               
                                                    </fieldset>
                                                </section>
                                            </section> -->
                                        </div>
                                    </section>
                                </div>

                                <!-- Review page -->
                                <div class="set_review_details">
                                    <section class="other_details">
                                        <center>Review Service in Progress</center>                                          
                                    </section>
                                </div>

                                <!-- Report page -->
                                <div class="set_report_details">
                                    <section class="other_details">
                                        <center>Report Service in Progress</center>                                          
                                    </section>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            
            </div>
        </div>
    </div>
    
    <div class="admin_dash">
        <div class="leftpane">
            <div class="leftpane_content">
                <h2 class="dashboard_header"><img src="{% static "/lessonpedia/static/images/icons/dashboard.png" %}" width="20px" alt=""> &nbsp;Dashboard</h2><br>
                <p class="fa-solid fa-chalkboard-user"><span class="dashboard_list" id="set_tutor"> &nbsp; Tutor</span></p><br><br>
                <p class="fa-brands fa-leanpub"><span class="dashboard_list" id="set_learner">&nbsp; &nbsp; Learners</span></p><br><br>
                <p class="fa-solid fa-file-import"><span class="dashboard_list" id="set_report">&nbsp; &nbsp; Reports</span></p><br><br>
                <p class="fa-solid fa-money-bill-transfer"><span class="dashboard_list" id="set_transactions">&nbsp; &nbsp; Transactions</span></p><br><br>
                <p class="fa-solid fa-wrench fa-rotate-0"><span class="dashboard_list" id="set_settings">&nbsp; Settings</span></p>
            </div>
            <div class="admin_basic_profile">
                <img src="{% static "/lessonpedia/static/images/tutors/pass.jpg" %}" alt="">
                <p>Active Admin</p>
            </div>
        </div>
        
        <!-- Tutors logic -->
        <div class="activate_tutors">
            <div class="admin_right">
                <h4 class="hello_admin">  
                    Hello, <span class="admin_username">AdminUser</span>
                    <p class="logout">Logout</p>
                </h4>
                <div class="admin_right_top">
                    <section class="content">
                        <img src="{% static "/lessonpedia/static/images/icons/allTutors.png" %}" alt="">
                        <section class="inner_content">
                            <p class="top validate">Total Tutors</p>
                            <p class="total_registered">5,200</p>
                        </section>
                    </section>

                    <section class="content">
                        <img src="{% static "/lessonpedia/static/images/icons/active.png" %}" alt="">
                        <section class="inner_content">
                            <p class="top">Active</p>
                            <p class="total_registered">400</p>
                        </section>
                    </section>

                    <section class="content">
                        <img src="{% static "/lessonpedia/static/images/icons/inactive.png" %}" alt="">
                        <section class="inner_content">
                            <p class="top">Inactive</p>
                            <p class="total_registered">230</p>
                        </section>
                    </section>
                </div>
                <br>

                <div class="tutors_list">
                    <div class="tutors_list_content">
                        <section class="top">
                            <div class="search">
                                <input type="text" name="" id="" class="extend" placeholder="Search tutor">
                                <button class="search_button">Search</button>
                            </div>
                            <h3 class="allTutors">All Tutors <span class="sort">Sort by:
                                <select name="" id="">
                                    <option value="">Newest</option>
                                    <option value="">Oldest</option>
                                    <option value="">Active</option>
                                    <option value="">Inactive</option>
                                    <option value="">Ascending</option>
                                    <option value="">Descending</option>
                                </select>
                            </span></h3> 
                                    
                        </section>
                    </div>

                    <div class="all_data">
                        <table>
                            <thead class="table_header">
                                <td>UserName</td>
                                <td>email</td>
                                <td>Assessment</td>
                                <td>No of engagement</td>
                                <td>Qualification</td>
                                <td>Status</td>
                                <td>Admin Action</td>
                            </thead>
                            <tr>
                                <td class="user_name">Engr. Chidubem</td>
                                <td class="user_email">engen.inyang@gmail.com</td>
                                <td>82%</td>
                                <td>5</td>
                                <td>Bsc</td>
                                <td><button class="check_status">Active</button></td>
                                <td><button class="action">take action</button></td>
                            </tr>
                            <tr>
                                <td class="user_name">Mr. Gentle Inyang</td>
                                <td class="user_email">angel@special.com</td>
                                <td>97%</td>
                                <td>8</td>
                                <td>Msc</td>
                                <td><button class="check_status">Inactive</button></td>
                                <td><button class="action">take action</button></td>
                            </tr>
                            <tr>
                                <td class="user_name">Prof. Chime Zee</td>
                                <td class="user_email">chimeKingsley@gmail.com</td>
                                <td>86%</td>
                                <td>3</td>
                                <td>waec</td>
                                <td><button class="check_status">Active</button></td>
                                <td><button class="action">take action</button></td>
                            </tr>
                        </table>
                    </div>
                </div>           
            </div>
        </div>

        <!-- learners display -->
        <div class="activate_learners">
            <div class="admin_right">
                <h4 class="hello_admin">  
                    Hello, <span>AdminUser</span>
                    <p class="logout">Logout</p>
                </h4>
                <div class="admin_right_top">
                    <section class="content">
                        <img src="{% static "/lessonpedia/static/images/icons/allTutors.png" %}" alt="">
                        <section class="inner_content">
                            <p class="top validate">Total Learners</p>
                            <p class="total_registered">15,200</p>
                        </section>
                    </section>

                    <section class="content">
                        <img src="{% static "/lessonpedia/static/images/icons/active.png" %}" alt="">
                        <section class="inner_content">
                            <p class="top">Active</p>
                            <p class="total_registered">400</p>
                        </section>
                    </section>

                    <section class="content">
                        <img src="{% static "/lessonpedia/static/images/icons/inactive.png" %}" alt="">
                        <section class="inner_content">
                            <p class="top">Inactive</p>
                            <p class="total_registered">230</p>
                        </section>
                    </section>
                </div>
                <br>

                <div class="tutors_list">
                    <div class="tutors_list_content">
                        <section class="top">
                            <div class="search">
                                <input type="text" name="" id="" class="extend" placeholder="Search tutor">
                                <button class="search_button">Search</button>
                            </div>
                            <h3 class="allTutors">All Learners <span class="sort">Sort by:
                                <select name="" id="">
                                    <option value="">Newest</option>
                                    <option value="">Oldest</option>
                                    <option value="">Active</option>
                                    <option value="">Expired</option>
                                    <option value="">UserName</option>
                                    <option value="">Tutor</option>
                                </select>
                            </span></h3> 
                                    
                        </section>
                    </div>

                    <div class="all_data">
                        <table>
                            <thead class="table_header">
                                <td>UserName</td>
                                <td>email</td>
                                <td>Tutor</td>
                                <td>Subject</td>
                                <td>Expire on</td>
                                <td>Status</td>
                                <td>Admin Action</td>
                            </thead>
                            <tr>
                                <td class="user_name">Patrick Hillary</td>
                                <td class="user_email">patrick_gee@gmail.com</td>
                                <td>Engr. Chidubem</td>
                                <td>Python programming</td>
                                <td>3/12/2023</td>
                                <td><button class="check_status">Expired</button></td>
                                <td><button class="action">take action</button></td>
                            </tr>
                            <tr>
                                <td class="user_name">Peace Tinubu</td>
                                <td class="user_email">p4luv_bird@gmail.com</td>
                                <td>Mr. Gentle Inyang</td>
                                <td>Further Maths</td>
                                <td>12/04/2024</td>
                                <td><button class="check_status">Active</button></td>
                                <td><button class="action">take action</button></td>
                            </tr>
                            <tr>
                                <td class="user_name">Prince Charles</td>
                                <td class="user_email">pprince@gmail.com</td>
                                <td>Prof. Chime Zee</td>
                                <td>Node Js programming</td>
                                <td>31/06/2024</td>
                                <td><button class="check_status">Active</button></td>
                                <td><button class="action">take action</button></td>
                            </tr>
                        </table>
                    </div>
                </div>           
            </div>
        </div>
    </div>
</body>
</html>
