<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/lessonpedia/static/css/login.css" %}">
    <title>Document</title>
</head>
<body>
   <div class="login_container">
        <div class="login_container_inputs">
            <div class="logo">
               <img src="{% static ".. /images/socialLinks/github.png" %}" alt="">
            </div>
            <h3 class="login_header">
                Login
            </h3>
            <form action="#">
                <label for="useremail">
                    UserName or Email
                </label><br>
                <input type="text" name="useremail" placeholder="enter username or email" id=""><br><br><br>
                <label for="password">
                    Password
                </label><br>
                <input type="password" name="password" placeholder="********" id="" pattern=""><br>
                <h5 class="forgetPasscode">Forget password</h5><br><br><br>
                <input type="submit" value="Sign in">
            </form><br>
            <p><center class="change_color">or continue with</center></p>
            <div class="link_box_container">
                <div class="link_box">
                    <a href="{% static "" %}"><img src="{% static ".. /images/socialLinks/google.png" %}" alt=""></a>
                </div>
                <div class="link_box">
                    <a href="{% static "" %}"><img src="{% static ".. /images/socialLinks/facebook.png" %}" alt=""></a>
                </div>
                <div class="link_box">
                    <a href="{% static "" %}"><img src="{% static ".. /images/socialLinks/github.png" %}" alt=""></a>
                </div>  
            </div>
            <div class="ending">
                <center><p class="change_color">Don't have account account yet? <span><a href="{% static "" %}">Register here</a></span></p></center>
            </div>
        </div>
   </div>
    
</body>
</html>