<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutors View</title>
    <script src="{% static "https://code.jquery.com/jquery-3.6.4.min.js" %}"></script>
    <script src="{% static ".. /script/tutor_view.js" %}"></script>
    <link rel="stylesheet" href="{% static "/lessonpedia/static/css/tutor_view.css" %}">
    <link rel="stylesheet" href="{% static "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %}">
    <script src="{% static "https://kit.fontawesome.com/11285bfb5b.js" %}" crossorigin="anonymous"></script>
</head>
<body>
    <div class="subject_pane">
        <div class="subject_list">
                <h3>Subjects <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></h3>
            <ul class="subjects ul">
                <li class="subject list_item"><a href="{% static "" %}">Physics</a></li>
                <li class="subject list_item"><a href="{% static "" %}">Mathematics</a></li>
                <li class="subject list_item"><a href="{% static "" %}">Business Admin</a></li>
                <li class="subject list_item"><a href="{% static "" %}">Python Programming</a></li>
                <li class="subject list_item"><a href="{% static "" %}">JavaScript</a></li>
                <li class="subject list_item"><a href="{% static "" %}">NodeJS</a></li>
            </ul>
        </div>
        <div class="mentors">
            <section class="top_mentors">
                <H3>Top Mentors <span class="fa fa-chevron-circle-down" aria-hidden="true"></span></H3>
                <ul class="mentor_name ul">
                    <li class="list_item"><a href="{% static "" %}">Esogibe Chidubem</a></li>
                    <li class="list_item"><a href="{% static "" %}">Gentle Inyang</a></li>
                    <li class="list_item"><a href="{% static "" %}">Barth Bassey</a></li>
                    <li class="list_item"><a href="{% static "" %}">Kingsley Chime</a></li>
                </ul>
            </section>
        </div>

        <div class="logout">
            <section class="logout_btn">
                <h3><i class="fa fa-sign-out" aria-hidden="true"></i> <a href="{% static "#" %}">Log Out</a></h3>
            </section>
        </div>

    </div>
    <div class="tutors_pane">
        <div class="header">
            <div class="search">
                <span><i style="font-size: 24px" class="fa-solid fa-magnifying-glass"></i></span><input type="text" placeholder="Search">
                
            </div>
            <div class="user_info">
                <div>
                  <i class="fa-regular fa-sharp fa-bell"></i>
                </div>
                <section><img class="tiny_images"src="{% static ".. /images/rooms/Chime.jpg" %}" alt="user_photo"></section>
                <span class="username">Kingsley</span> <span class="fa fa-chevron-circle-down" aria-hidden="true"></span>
            </div>
        </div>
        <div class="tutor_row">
            <div class="tutor_overview">
                <section class="tutor_image_box">
                    <img class="tutor_image" src="{% static ".. /images/rooms/Chime.jpg" %}" alt="tutor_image">
                </section>
                <div class="other_info">
                    <section class="tutor_name"><h5 class="name">Chime Kingsley &nbsp;</h5>
                        <span class="ranks">
                            <span class="rank_1">★</span><span class="rank_2">★</span><span class="rank_3">★</span><span class="rank_4">★</span><span class="rank_5">★</span>
                        </span>
                    </section>
                    <section class="tutor_subject">
                        <h6 class="show_block">Pure Thoughts <i class="fa fa-circle" aria-hidden="true"></i></h6>
                    </section>
                    <section><button class="view_tutor_profile">View Profile</button></section>
                </div>
            </div>
            <div class="tutor_overview">
                <section class="tutor_image_box">
                    <img class="tutor_image" src="{% static ".. /images/rooms/Chime.jpg" %}" alt="tutor_image">
                </section>
                <div class="other_info">
                    <section class="tutor_name"><h5 class="name">Chime Kingsley &nbsp;</h5>
                        <span class="ranks">
                            <span class="rank_1">★</span><span class="rank_2">★</span><span class="rank_3">★</span><span class="rank_4">★</span><span class="rank_5">★</span>
                        </span>
                    </section>
                    <section class="tutor_subject">
                        <h6 class="show_block">Pure Thoughts <i class="fa fa-circle" aria-hidden="true"></i></h6>
                    </section>
                    <section><button class="view_tutor_profile">View Profile</button></section>
                </div>
            </div>
            <div class="tutor_overview">
                <section class="tutor_image_box">
                    <img class="tutor_image" src="{% static ".. /images/rooms/Chime.jpg" %}" alt="tutor_image">
                </section>
                <div class="other_info">
                    <section class="tutor_name"><h5 class="name">Chime Kingsley &nbsp;</h5>
                        <span class="ranks">
                            <span class="rank_1">★</span><span class="rank_2">★</span><span class="rank_3">★</span><span class="rank_4">★</span><span class="rank_5">★</span>
                        </span>
                    </section>
                    <section class="tutor_subject">
                        <h6 class="show_block">Pure Thoughts <i class="fa fa-circle" aria-hidden="true"></i></h6>
                    </section>
                    <section><button class="view_tutor_profile">View Profile</button></section>
                </div>
            </div>
            <div class="tutor_overview">
                <section class="tutor_image_box">
                    <img class="tutor_image" src="{% static ".. /images/rooms/Chime.jpg" %}" alt="tutor_image">
                </section>
                <div class="other_info">
                    <section class="tutor_name"><h5 class="name">Chime Kingsley &nbsp;</h5>
                        <span class="ranks">
                            <span class="rank_1">★</span><span class="rank_2">★</span><span class="rank_3">★</span><span class="rank_4">★</span><span class="rank_5">★</span>
                        </span>
                    </section>
                    <section class="tutor_subject">
                        <h6 class="show_block">Pure Thoughts <i class="fa fa-circle" aria-hidden="true"></i></h6>
                    </section>
                    <section><button class="view_tutor_profile">View Profile</button></section>
                </div>
            </div>
            <div class="tutor_overview">
                <section class="tutor_image_box">
                    <img class="tutor_image" src="{% static ".. /images/rooms/Chime.jpg" %}" alt="tutor_image">
                </section>
                <div class="other_info">
                    <section class="tutor_name"><h5 class="name">Chime Kingsley &nbsp;</h5>
                        <span class="ranks">
                            <span class="rank_1">★</span><span class="rank_2">★</span><span class="rank_3">★</span><span class="rank_4">★</span><span class="rank_5">★</span>
                        </span>
                    </section>
                    <section class="tutor_subject">
                        <h6 class="show_block">Pure Thoughts <i class="fa fa-circle" aria-hidden="true"></i></h6>
                    </section>
                    <section><button class="view_tutor_profile">View Profile</button></section>
                </div>
            </div>
            <div class="tutor_overview">
                <section class="tutor_image_box">
                    <img class="tutor_image" src="{% static ".. /images/rooms/Chime.jpg" %}" alt="tutor_image">
                </section>
                <div class="other_info">
                    <section class="tutor_name"><h5 class="name">Chime Kingsley &nbsp;</h5>
                        <span class="ranks">
                            <span class="rank_1">★</span><span class="rank_2">★</span><span class="rank_3">★</span><span class="rank_4">★</span><span class="rank_5">★</span>
                        </span>
                    </section>
                    <section class="tutor_subject">
                        <h6 class="show_block">Pure Thoughts <i class="fa fa-circle" aria-hidden="true"></i></h6>
                    </section>
                    <section><button class="view_tutor_profile">View Profile</button></section>
                </div>
            </div>
            <div class="tutor_overview">
                <section class="tutor_image_box">
                    <img class="tutor_image" src="{% static ".. /images/rooms/Chime.jpg" %}" alt="tutor_image">
                </section>
                <div class="other_info">
                    <section class="tutor_name"><h5 class="name">Chime Kingsley &nbsp;</h5>
                        <span class="ranks">
                            <span class="rank_1">★</span><span class="rank_2">★</span><span class="rank_3">★</span><span class="rank_4">★</span><span class="rank_5">★</span>
                        </span>
                    </section>
                    <section class="tutor_subject">
                        <h6 class="show_block">Pure Thoughts <i class="fa fa-circle" aria-hidden="true"></i></h6>
                    </section>
                    <section><button class="view_tutor_profile">View Profile</button></section>
                </div>
            </div>
            <div class="tutor_overview">
                <section class="tutor_image_box">
                    <img class="tutor_image" src="{% static ".. /images/rooms/Chime.jpg" %}" alt="tutor_image">
                </section>
                <div class="other_info">
                    <section class="tutor_name"><h5 class="name">Chime Kingsley &nbsp;</h5>
                        <span class="ranks">
                            <span class="rank_1">★</span><span class="rank_2">★</span><span class="rank_3">★</span><span class="rank_4">★</span><span class="rank_5">★</span>
                        </span>
                    </section>
                    <section class="tutor_subject">
                        <h6 class="show_block">Pure Thoughts <i class="fa fa-circle" aria-hidden="true"></i></h6>
                    </section>
                    <section><button class="view_tutor_profile">View Profile</button></section>
                </div>
            </div>
            <div class="tutor_overview">
                <section class="tutor_image_box">
                    <img class="tutor_image" src="{% static ".. /images/rooms/Chime.jpg" %}" alt="tutor_image">
                </section>
                <div class="other_info">
                    <section class="tutor_name"><h5 class="name">Chime Kingsley &nbsp;</h5>
                        <span class="ranks">
                            <span class="rank_1">★</span><span class="rank_2">★</span><span class="rank_3">★</span><span class="rank_4">★</span><span class="rank_5">★</span>
                        </span>
                    </section>
                    <section class="tutor_subject">
                        <h6 class="show_block">Pure Thoughts <i class="fa fa-circle" aria-hidden="true"></i></h6>
                    </section>
                    <section><button class="view_tutor_profile">View Profile</button></section>
                </div>
            </div>
            <div class="tutor_overview">
                <section class="tutor_image_box">
                    <img class="tutor_image" src="{% static ".. /images/rooms/Chime.jpg" %}" alt="tutor_image">
                </section>
                <div class="other_info">
                    <section class="tutor_name"><h5 class="name">Chime Kingsley &nbsp;</h5>
                        <span class="ranks">
                            <span class="rank_1">★</span><span class="rank_2">★</span><span class="rank_3">★</span><span class="rank_4">★</span><span class="rank_5">★</span>
                        </span>
                    </section>
                    <section class="tutor_subject">
                        <h6 class="show_block">Pure Thoughts <i class="fa fa-circle" aria-hidden="true"></i></h6>
                    </section>
                    <section><button class="view_tutor_profile">View Profile</button></section>
                </div>
            </div>
        </div>
    </div>
<div class="buttom_footer">
    <p>LessonPedia CopyRight 2023 | All Right reserved <span style="color:yellow">&copy;</span> </p>
    <section class="social_medias">
        <a href="{% static "" %}"><img src="{% static ".. /images/icons/facebook.png" %}" alt=""></a>
        <a href="{% static "" %}"><img src="{% static ".. /images/icons/instagram.png" %}" alt=""></a>
        <a href="{% static "" %}"><img src="{% static ".. /images/icons/web.png" %}" alt=""></a>
        <a href="{% static "" %}"><img src="{% static ".. /images/icons/twitter.png" %}" alt=""></a>
    </section>
</div>
</body>
</html>