<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Client</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'script/client_dashboard.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/client_dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- deavtivate account -->
    <div class="deactivate_account_control_display">
        <div class="deactivateAccount">
            <div class="warning">
                <img src="{% static 'images/icons/warning.png" alt="' %}">
                <div class="warning_box">
                    <p class="confirm_dialog">Warning!</p>
                    <p class="action">This actions cannot be undo, do you wish to process?</p>
                </div>
                <div class="selections">
                    <button class="confirm_remove">Confirm</button>
                    <button class="mistake">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- logout -->
    <div class="logout_btn">
        <div class="logout_btn_account">
            <div class="warning">
                <img src="{% static 'images/icons/warning.png" alt="' %}">
                <div class="warning_box">
                    <p class="confirm_dialog">Warning!</p>
                    <p class="action">Are you sure to Logout?</p>
                </div>
                <div class="selections">
                    <button class="confirm_logout">Yes</button>
                    <button class="cancel_logout">No</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="db">
        <div class="container">
            <div class="sidebar">
                <div class="personal side">
                    <div class="profile_pics">
                        <img src="{% static 'images/clients/pass.jpg" alt="Client Passport' %}">
                    </div>
                    <div class="other_info">
                        <p>andrewetedu@gmail.com</p>
                        <p>andybillions@x.com</p>
                    </div>
                </div>
                <div class="hrtop"><hr></div>
                <div class="side_items">
                    <div class="settings side">
                        <a href="#">Dashboard</a> 
                        </div>   
                    <div class="settings side">
                    <a href="#" class="set_active">Settings</a> 
                    </div>            
                    <div class="history side">
                        <a href="#" class="history_active">History</a> 
                    </div>
                    <div class="logout side logout_activation">
                        <a href="#">Logout</a> 
                    </div>            
                </div>
            </div>

            <div class="content">
                <div class="left_pane">
                    <div class="profile_info">
                        <h2 class="fa-solid fa-gauge"><span>&nbsp; Dashboard</span></h2>
                    </div>
                    <div class="activities">
                        <div class="courses">
                            <div class="not_started item"><p class="progress">1/2 </p><p class="progress_text">In Progress</p></div>
                            <div class="in_progress item"><p class="progress">1/2 </p><p class="progress_text">Pending</p></div>
                            <div class="completed item"><p class="progress">0/2 </p><p class="progress_text">Settled</p></div>
                        </div> 
                        <div class="my_tutors">
                            <div class="search">
                                <input type="text" name="" id="" class="extend" placeholder="Search tutor">
                                <button class="search_button">Search</button>
                            </div>

                        </div>
                        <div class="subjects">
                            <section class="subject_details">
                                <section class="tutor_info">
                                    <div class="clearfix">
                                        <img src="{% static 'images/clients/pass.jpg" alt="Client Passport' %}">
                                        <section class="float_left">
                                            <div class="subject_table table">
                                                <span class="tutor_subject tr">Software Development</span>
                                                <span class="class_schedule tr"><b>Wed, Thurs, Sat </b></span><span class="time"> 4:00pm - 6:30pm (3hrs)</span>
                                            </div>
                                            <span class="tutor_name"><b>Esogibe Chidubem</b></span>
                                            <span class="tutor_name contract"> Contract Valid Until: July, 3rd, 2023</span>

                                        
                                        </section>
                                        <section class="status"></section>
                                    </div>
                                    <div class="tutor_toggles">
                                        <button class="remove_tutor even-width">Remove</button>
                                    
                                        <button class="report_abuse even-width">Report Abuse</button>
                                        <button class="review even-width">Review</button>
                                        <button class="rank even-width">Rank</button>
                                        <section class="status_icon"></section>
                                    </div>
                                </section>
                            </section>
                            <div class="hr"><hr></div>
                            
                        </div>
                    </div>
                </div>

                <div class="right_pane">
                    <div class="right_content">
                        <div class="rooms resize">Rooms
                            <img src="{% static 'images/socialLinks/chatroom.png" alt="' %}">
                        </div>
                        <div class="add_tutor resize">Connect with a Tutor
                            <img src="{% static 'images/socialLinks/tutor.jpg" alt="' %}">
                        </div>
                        <div class="suggestion resize">Have a suggestion?
                            <img src="{% static 'images/socialLinks/suggestion.png" alt="' %}">
                        </div>               
                        <div class="spomsor resize">Become a sponsor
                            <img src="{% static 'images/socialLinks/sponsor.jpeg" alt="' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- settings in dashboard -->
    <div class="set">
        <div class="container">
            <div class="sidebar">
                <div class="personal side">
                    <div class="profile_pics">
                        <img src="{% static 'images/clients/pass.jpg" alt="Client Passport' %}">
                    </div>
                    <div class="other_info">
                        <p>andrewetedu@gmail.com</p>
                        <p>andybillions@x.com</p>
                    </div>
                </div>
                <div class="hrtop"><hr></div>
                <div class="side_items">
                    <div class="settings side">
                        <a href="#" class="db_active">Dashboard</a> 
                        </div>   
                    <div class="settings side">
                    <a href="#">Settings</a> 
                    </div>            
                    <div class="history side" id="history">
                        <a href="#" class="history_active">History</a>
                    </div>
                    <div class="logout side logout_activation">
                        <a href="#">Logout</a> 
                    </div>            
                </div>
            </div>

            <div class="content">
                <div class="left_pane">
                    <div class="profile_info">
                        <h2 class="fa-solid fa-gear">&nbsp; <span>Settings</span></h2>
                    </div>

                    <div class="update_navbar">
                        <nav class="update_elements">
                            <table>
                                <thead id="elements_control">
                                    <td style="width: 30px; cursor: default;"></td>
                                    <td id="update_profile" class="test">Update Profile</td>
                                    <td id="change_password" class="test">Change Password</td>
                                    <td id="deactivate_account" class="test">Deactivate Account</td>
                                </thead>
                            </table>
                        </nav>
                    </div>

                    <!-- profile update -->
                    <div class="profile_control_display">
                        <div class="profileUpdate">
                            <div class="profile_update_content">
                                <div class="dp">
                                    <img src="{% static 'images/tutors/pass.jpg" alt="' %}">
                                    <p>change profile picture</p>
                                </div>                               
                                <h3><span>Hi,</span> UserName</h3>
                                
                                <form action="">
                                    <input type="text" name="" id="" placeholder="firstName">
                                    <input type="text" name="" id="" class="extend" placeholder="lastName">
                                    <input type="tel" name="" id="" class="extend" placeholder="phone Number">
                                    <input type="text" name="" id="" class="extend" placeholder="residential Address">
                                    <input type="text" name="" id="" class="extend" placeholder="state of resident">
                                    <input type="text" name="" id="" class="extend" placeholder="Nationality"> <br>
                                    <button class="save_button">Save</button>                               
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- change password -->
                    <div class="change_password_control_display">
                        <div class="profileUpdate">
                            <div class="profile_update_content">
                                <div class="dp">
                                    <img src="{% static 'images/tutors/pass.jpg" alt="' %}">
                                </div>                               
                                <h3><span>Hi,</span> UserName</h3>
                                
                                <form action="">
                                    <br><br>
                                    <input type="text" name="" id="" class="extend" placeholder="old password"><br><br>
                                    <input type="text" name="" id="" class="extend" placeholder="new password"><br><br>
                                    <input type="text" name="" id="" class="extend" placeholder="confirm new password"><br><br><br>
                                    <button class="save_button">Save</button>                               
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="right_pane">
                    <div class="right_content">
                        <div class="rooms resize">Rooms
                            <img src="{% static 'images/socialLinks/chatroom.png" alt="' %}">
                        </div>
                        <div class="add_tutor resize">Connect with a Tutor
                            <img src="{% static 'images/socialLinks/tutor.jpg" alt="' %}">
                        </div>
                        <div class="suggestion resize">Have a suggestion?
                            <img src="{% static 'images/socialLinks/suggestion.png" alt="' %}">
                        </div>               
                        <div class="spomsor resize">Become a sponsor
                            <img src="{% static 'images/socialLinks/sponsor.jpeg" alt="' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- History Dashboard -->
    <div class="history_set">
        <div class="container">
            <div class="sidebar">
                <div class="personal side">
                    <div class="profile_pics">
                        <img src="{% static 'images/clients/pass.jpg" alt="Client Passport' %}">
                    </div>
                    <div class="other_info">
                        <p>andrewetedu@gmail.com</p>
                        <p>andybillions@x.com</p>
                    </div>
                </div>
                <div class="hrtop"><hr></div>
                <div class="side_items">
                    <div class="settings side">
                        <a href="#" class="db_active">Dashboard</a> 
                        </div>   
                    <div class="settings side">
                    <a href="#" class="set_active">Settings</a> 
                    </div>            
                    <div class="history side historica" id="history">
                        <a href="#">History</a>
                        <h6 id="coming_soon" class="coming_soon">Coming soon</h6>
                    </div>                    
                    <div class="logout side logout_activation">
                        <a href="#">Logout</a> 
                    </div>            
                </div>
            </div>

            <div class="content">
                <div class="left_pane">
                    <div class="profile_info">
                        <h2 class="fa-solid fa-timeline">&nbsp; <span>History</span></h2>
                    </div>

                    <!-- <div class="update_navbar">
                        <nav class="update_elements">
                            <table>
                                <thead id="elements_control">
                                    <td style="width: 30px; cursor: default;"></td>
                                    <td id="update_profile" class="test">Update Profile</td>
                                    <td id="change_password" class="test">Change Password</td>
                                    <td id="deactivate_account" class="test">Deactivate Account</td>
                                </thead>
                            </table>
                        </nav>
                    </div> -->

                    <!-- profile update -->
                    <!-- <div class="profile_control_display">
                        <div class="profileUpdate">
                            <div class="profile_update_content">
                                <div class="dp">
                                    <img src="{% static 'images/tutors/pass.jpg" alt="' %}">
                                    <p>change profile picture</p>
                                </div>                               
                                <h3><span>Hi,</span> UserName</h3>
                                
                                <form action="">
                                    <input type="text" name="" id="" placeholder="firstName">
                                    <input type="text" name="" id="" class="extend" placeholder="lastName">
                                    <input type="tel" name="" id="" class="extend" placeholder="phone Number">
                                    <input type="text" name="" id="" class="extend" placeholder="residential Address">
                                    <input type="text" name="" id="" class="extend" placeholder="state of resident">
                                    <input type="text" name="" id="" class="extend" placeholder="Nationality"> <br>
                                    <button class="save_button">Save</button>                               
                                </form>
                            </div>
                        </div>
                    </div> -->
                    <h1><center>Coming soon!</center></h1>

                    <!-- change password -->
                    <div class="change_password_control_display">
                        <div class="profileUpdate">
                            <div class="profile_update_content">
                                <div class="dp">
                                    <img src="{% static 'images/tutors/pass.jpg" alt="' %}">
                                </div>                               
                                <h3><span>Hi,</span> UserName</h3>
                                
                                <form action="">
                                    <br><br>
                                    <input type="text" name="" id="" class="extend" placeholder="old password"><br><br>
                                    <input type="text" name="" id="" class="extend" placeholder="new password"><br><br>
                                    <input type="text" name="" id="" class="extend" placeholder="confirm new password"><br><br><br>
                                    <button class="save_button">Save</button>                               
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="right_pane">
                    <div class="right_content">
                        <div class="rooms resize">Rooms
                            <img src="{% static 'images/socialLinks/chatroom.png" alt="' %}">
                        </div>
                        <div class="add_tutor resize">Connect with a Tutor
                            <img src="{% static 'images/socialLinks/tutor.jpg" alt="' %}">
                        </div>
                        <div class="suggestion resize">Have a suggestion?
                            <img src="{% static 'images/socialLinks/suggestion.png" alt="' %}">
                        </div>               
                        <div class="spomsor resize">Become a sponsor
                            <img src="{% static 'images/socialLinks/sponsor.jpeg" alt="' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        

</body>
</html>