{% extends "generic_apps/base.html" %}
{% load static %}

{% block head %}
    <title>Dashboard - Client</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'script/clientDashboard.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/clientDashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
{% endblock head %}


{% block signup_button %}

{% endblock signup_button %}

{% block content %}
<p id="test" style="display: none;">{{ tutorRank }}</p>

<div class="check">
    <!-- deavtivate account -->
    <div class="deactivate_account_control_display">
        <div class="deactivateAccount">
            <div class="warning">
                <img src="{% static 'images/icons/warning.png' %}" alt="">
                <div class="warning_box">
                    <p class="confirm_dialog">Warning!</p>
                    <p class="action">This actions cannot be undo, do you wish to proceed?</p>
                </div>
                <div class="selections">
                    <a href="{% url 'remove_user' %}"><button class="confirm_remove">Confirm</button></a>
                    <button class="mistake">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- logout -->
    <div class="logout_btn">
        <div class="logout_btn_account">
            <div class="warning">
                <img src="{% static 'images/icons/warning.png' %}" alt="">
                <div class="warning_box">
                    <p class="confirm_dialog">Warning!</p>
                    <p class="action">Are you sure to Logout?</p>
                </div>
                <div class="selections">
                    <a href='{% url "logoutUser" %}'><button class="confirm_logout">Yes</button></a>
                    <button class="cancel_logout">No</button>
                </div>
            </div>
        </div>
    </div>
    
    {% comment %} Review template {% endcomment %}
    
    <div class="reviews" style="display: none">
        <div class="review_main">
            
            <section class="review_top">
                <div class="closeReview">
                    x
                </div>
                <center><h2 class="review_heading">REVIEW</h2></center>
            </section><hr>

            <section class="profilePicture">
                <img src="{% static 'images/user/default_user_icon.png' %}" alt="">
                <p>tutor@emailaddress.com</p>
            </section>
            <section class="review_tutor_details">
                <h4>Tutor Details</h4>
                <p class="name">Tutor Name here [Phd]</p>
                <p class="Trank">Ranking: 
                    <span class="viewColor rankGotten"></span>
                    <span class="defaultColor lostRank"></span>
                </p>
                <div class="emp">

                </div>
            </section>

            <section class="review_content">
                <fieldset>
                    <legend>Review Content</legend>
                    <form id='reviewForm' action="{% url 'submitReview' tutorId=0 %}" method='POST'>

                        {% csrf_token %}
                        <label for="subject">Subject</label>
                        <input type="text" placeholder="Enter Subject" name='subject' id='subject' required><br><br>

                        <label for="reviewContent">Review Text</label><br>
                        <textarea name="reviewContent" id="reviewContent" cols="30" rows="10"></textarea><br><br>
                        <center><input type="submit" value="SUBMIT"></center>
                    </form>
                </fieldset>
            </section>
        </div>
    </div>

    {% comment %} All Reviews {% endcomment %}
    
    <div class='allReviews' style="display: none">
        <div class="allReview_container">
            <div class="allReview_content">
                <section class="review_top">
                    <div class="closeReview">
                        x
                    </div>
                    <center><h2 class="review_heading">Your Reviews</h2></center>
                </section><hr>

                <div class="review_scroll">
                {% if reviews %}

                {% for review in reviews %}
                    <section class="image">
                        <img src="{{ review.tutor.profile_picture.url }}" alt=""> 
                    </section>

                    <section class="headContent">
                        <h3>{{ review.tutor.first_name }} {{ review.tutor.last_name }} <span> [{{ review.tutor.area_of_specialization }}]</span></h3>
                        <p class="rank_validate">Ranking: <span>
                            {% if review.tutor.rank > 4 %}
                                <span class="viewColor" style="color: gold">★★★★★</span>
                            {% elif review.tutor.rank > 3 %}
                                <span class="viewColor" style="color: gold">★★★★</span>
                                <span class="defaultColor" style="color: gray">★</span>
                            {% elif review.tutor.rank > 2 %}
                                <span class="viewColor" style="color: gold">★★★</span>
                                <span class="defaultColor" style="color: gray">★★</span>
                            {% elif review.tutor.rank > 2 %}
                                <span class="viewColor" style="color: gold">★★</span>
                                <span class="defaultColor" style="color: gray">★★★</span>
                            {% elif review.tutor.rank > 1 %}
                                <span class="viewColor" style="color: gold">★</span>
                                <span class="defaultColor" style="color: gray">★★★★</span>
                            {% else %}
                                <span class="defaultColor" style="color: gray">★★★★★</span>
                            {% endif %}
                            
                        </span></p>
                    </section>

                    <section class="message">
                        <button class="editReview">Edit</button>
                        <p class="TRsubject">Subject: <span>{{ review.review_subject }}</span></p>
                        <div class="message_content">
                            {{ review.review_text }} 
                        </div>
                    </section>
                    
                    <section class="transit">

                       <fieldset>
                            <legend style="border-radius: 30px"> Edit Review Content</legend>
                            <form id='reviewForm' action="{% url 'editReview' tutorId=review.tutor.id %}" method='POST'>
        
                                {% csrf_token %}
                                <label for="subject">Subject</label>
                                <input type="text" placeholder="Enter Subject" name='subject' value="{{ review.review_subject }}" id='subject' required><br><br>
        
                                <label for="reviewContent">Review Text</label><br>
                                <textarea name="reviewContent" id="reviewContent" cols="30" rows="10">{{ review.review_text }}</textarea><br><br>
                                <center><input type="submit" value="SUBMIT" class="submitEdit"><span class="cancelEdit">Cancel</span></center>
                                
                            </form>
                        </fieldset>
                    </section>
                    <hr>
                {% endfor %}

                {% else %}    
                    <section class="headContent">
                        <center><h3>You have no Review yet, please click review on your dashboard</h3></center>
                    </section>
                {% endif %}
                </div>
            </div>
        </div>
    </div>  

    <div class="db" style="display: nne">
        <div class="container">
            <div class="sidebar">
                <div class="personal side">
                    <div class="profile_pics">
                        {% if request.user.is_authenticated %}
                            <img src="{{ request.user.profile_picture.url }}" alt="Client Passport">
                        {% else %}
                            <img src="{% static 'images/user/default_user_icon.png' %}" alt="Client Passport">
                        {% endif %}                    
                    </div>
                    <div class="other_info">
                        <p>{{ request.user.email }}</p>
                    </div>
                </div>
                <div class="hrtop"><hr></div>
                <div class="side_items">
                    <div class="settings side">
                        <a href="{% url 'validate_user' whoami=request.user %}">Dashboard</a> 
                        </div>   
                    <div class="settings side">
                    <a href="#" class="set_active">Settings</a> 
                    </div>            
                    <div class="history side">
                        <a href="#" class="history_active">History</a> 
                    </div>
                    <div class='addTutors side'>
                        <a href="{% url 'view_tutors' %}" class="exploreTutors">View Tutors</a>
                    </div><br>
                    <div class="logout side logout_activation">
                        <a href="#" style="color: red">Logout</a> 
                    </div>            
                </div>
            </div>
            <div class="content">
                <div class="left_pane">
                    <div class="PUpdate">
                        <p class='logMessage'>
                            {% if messages %}
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="profile_info">
                        <h2 class="fa-solid fa-gauge"><span>&nbsp; Dashboard</span></h2>
                    </div>
                    <div class="activities">
                        <div class="courses">
                            <div class="not_started item"><p class="progress">{{ activeStatus }}/{{ totalTutors }} </p><p class="progress_text">Active</p></div>
                            <div class="in_progress item"><p class="progress">{{ pendingStatus }}/{{ totalTutors }} </p><p class="progress_text">Pending</p></div>
                            <div class="in_progress item"><p class="progress">{{ declinedStatus }}/{{ totalTutors }} </p><p class="progress_text">Declined</p></div>
                            <div class="completed item"><p class="progress">{{ notEngagedStatus }}/{{ totalTutors }} </p><p class="progress_text">Not Engaged</p></div>
                        </div> 
                        <div class="my_tutors">
                            <div class="searchClient">
                                <input type="text" name="" id="keywordVal" class="extend" placeholder="Search tutor">
                                <button class="searchClient_button">Search</button>
                            </div>
                        </div>
                        
                        <div class="notFound" style='display: none'><p>tutor eithe</p></div>

                        <div class='cover'>

                        {% if tutors %}
                        {% for tutor in tutors %} 
                        
                            <div class="subjects">
                                <section class="subject_details">
                                    <section class="tutor_info">
                                        <div class="clearfix">
                                            <img src="{{ tutor.target_tutor.profile_picture.url }}" alt="Client Passport">
                                            <section class="float_left">
                                                <div class="subject_table table">
                                                    <span class="tutor_subject tr">{{ tutor.target_tutor.area_of_specialization }}</span>
                                                    <span class="class_schedule tr"><b>Wed, Thurs, Sat </b></span>
                                                </div>
                                                
                                                <span class="tutor_name"><b>{{ tutor.target_tutor.first_name }} {{ tutor.target_tutor.last_name}}</b></span>
                                                <span class="tutor_name contract"> Contract Valid Until: <span class="endDate"></span></span>
                                            
                                            </section>

                                            <div class="elipses">
                                                <section class="goRight">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>    
                                                </section>

                                               <section class=dropdown_others>
                                                    <!-- <p>Update Contract</p>
                                                    <p>Terminate Engagement</p> -->
                                                </section> 

                                                <section class="engagement">
                                                  <p class="engage"> <a href="{% url 'create_contract' tutor_id=tutor.target_tutor.id %}">Connect with Tutor</a></p>
                                                </section>
                                                <section class="makePayment">
                                                    <p class="engage" id="balancePayNow"><a href="{% url 'makePayment' tutor.target_tutor.id %}">Make Payment</a></p>
                                                </section>
                                                <section class="balanceUp">
                                                    <p class="engage" id="payRemaining"><a href="{% url 'makePayment' tutor.target_tutor.id %}">Pay Balance</a></p>
                                                </section>
                                                <section class="congrats">
                                                    <p class="engage" id="completed">Payment Completed</a></p>
                                                </section>
                                                
                                            </div>
                                                                                 
                                            <section>
                                                <div class="requestStatus">
                                                    <p class="status statusDefault"></p>
                                                    <p class="statuus">not engaged</p>
                                                </div>
                                                                                
                                            </section>
                                        </div>
                                       
                                        <section class="hideRating" style="display: none">
                                            <p class='tutorId'>{{ tutor.target_tutor.id }}</p>
                                            <p class='clientId'>{{ request.user.id }}</p>
                                        </section>

                                        <div class="tutor_toggles selectOptions">
                                            <button class="remove_tutor even-width">Remove</button>
                                            <a href=""><button class="report_abuse even-width">Report Abuse</button></a>
                                            <button class="review even-width">Review</button>
                                            
                                            <button class="rank even-width">
                                                <div class='rankStar'>
                                                    <p class='rankTutor'>                                                        
                                                        <span class='defaultColor'></span>                                   
                                                    </p>
                                                    <section>
                                                        <p class="rankText">Rank with stars</p>
                                                    </section>
                                                </div>
                                                Rank <span class="getID" style="display: none;">{{ tutor.target_tutor.id }}</span>
                                                <span style="display: none;" class='client_username'>{{ request.user.username }}</span>                                 
                                            
                                            </button>
                                            <section class="status_icon"></section>
                                        </div>
                                                                                
                                        <div class="removeUser">
                                            <div class="warning">
                                                <div class="warning_box">
                                                    <p class="confirm_dialog">Warning!</p>
                                                    <p class="action">Are you sure to remove this tutor?</p>
                                                </div>
                                                <div class="selections">
                                                    <a href="{% url 'remove_tutor' tutorId=tutor.target_tutor.id %}"><button class="confirm_remove">Yes</button></a>
                                                    <button class="cancel_remove">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </section>
                                <div class="hr"><hr></div>
                                
                            </div>
                            
                            {% endfor %}
                            {% comment %} <div class="pagination">
                                <span class="step-links">
                                    {% if tutors.has_previous %}
                                        <a href="?page=1">&laquo; first</a>
                                        <a href="?page={{ tutors.previous_page_number }}">previous</a>
                                    {% endif %}
                        
                                    <span class="current">
                                        Page {{ tutors.number }} of {{ tutors.paginator.num_pages }}.
                                    </span>
                        
                                    {% if tutors.has_next %}
                                        <a href="?page={{ tutors.next_page_number }}">next</a>
                                        <a href="?page={{ tutors.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div> {% endcomment %}
                            {% else %}
                                <center><h3 style="font-family: 'Roboto', sans-serif;">
                                    No tutor yet, please click view tutor to add some!
                                </h3></center>
                            {% endif %}
                            </div>
                    </div>
                </div>
                

                <div class="right_pane">
                    <div class="right_content">
                        <div class="rooms resize">Rooms
                            <img src="{% static 'images/socialLinks/chatroom.png' %}" alt="">
                        </div>
                        <div class="add_tutor resize">Connect with a Tutor
                            <img src="{% static 'images/socialLinks/tutor.jpg' %}" alt="">
                        </div>
                        <div class="suggestion resize">Have a suggestion?
                            <img src="{% static 'images/socialLinks/suggestion.png' %}" alt="">
                        </div>               
                        <div class="spomsor resize">Become a sponsor
                            <img src="{% static 'images/socialLinks/sponsor.jpeg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- settings in dashboard -->
    <div class="set">
        <div class="container">
            <div class="sidebar">
                <div class="personal side">
                    <div class="profile_pics">
                        <img src="{{ request.user.profile_picture.url }}" alt="Client Passport">
                    </div>
                    <div class="other_info">
                        <p>{{ request.user.email }}</p>
                    </div>
                </div>
                <div class="hrtop"><hr></div>
                <div class="side_items">
                    <div class="settings side">
                        <a href="{% url 'validate_user' whoami=request.user %}" class="db_active">Dashboard</a> 
                        </div>   
                    <div class="settings side">
                    <a href="#">Settings</a> 
                    </div>            
                    <div class="history side" id="history">
                        <a href="#" class="history_active">History</a>
                    </div>
                    <div class='addTutors side'>
                        <a href="{% url 'view_tutors' %}" class="exploreTutors">View Tutors</a>
                    </div><br>
                    <div class="logout side logout_activation">
                        <a href="#">Logout</a>
                    </div>            
                </div>
            </div>

            <div class="content">
                <div class="left_pane">
                    <div class="profile_info">
                        <h2 class="fa-solid fa-gear">&nbsp; <span>Settings</span></h2>
                    </div><br>

                    <div class="update_navbar">
                        <nav class="update_elements">
                            <table>
                                <thead id="elements_control">
                                    <td style="width: 30px; cursor: default;"></td>
                                    <td id="update_profile" class="test">Update Profile</td>
                                    <td id="change_password" class="test">Change Password</td>
                                    <td id="deactivate_account" class="test">Deactivate Account</td>
                                </thead>
                            </table>
                        </nav>
                    </div>

                    <!-- profile update -->
                    <div class="profile_control_display">
                        <div class="profileUpdate">
                            <div class="profile_update_content">
                                <div class="dp">
                                    <form action="{% url 'dpUpdate' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <img id="previewDp" src="{{ request.user.profile_picture.url }}" alt="">
                                        <input type="file" name="profilePicture" id="UpdateDp">
                                        <button id="change">change profile picture</button>
                                    </form>
                                    
                                </div>                               
                                <h3><span>Hi,</span> {{ request.user.username }}</h3>
                                
                                <form action="{% url 'ProfileUpdate' %}" method='POST'>
                                    {% csrf_token %}
                                    <label for="firstName">First Name</label>
                                    <input type="text" name="firstName" id="" placeholder="{{ request.user.first_name }}"><br>
                                    <label for="lastName">Last Name</label>
                                    <input type="text" name="lastName" id="" class="extend" placeholder="{{ request.user.last_name }}">
                                    <label for="phoneNumber">Phone Number</label>
                                    <input type="text" name="phoneNumber" id="" class="extend" placeholder="{{ request.user.phone_number }}">
                                    <label for="address">Residential Address</label>
                                    <input type="text" name="address" id="" class="extend" placeholder="{{ request.user.residential_address}}">
                                    <label for="state">State of Residence</label>
                                    <input type="text" name="state" id="" class="extend" placeholder="{{ request.user.state_of_residence }}">
                                    <label for="nationality">Nationality</label>
                                    <input type="text" name="nationality" id="" class="extend" placeholder="{{ request.user.nationality }}"> <br>
                                    <label for="eduLevel">Highest Educational Level <label for="specifics" id="specs">Specifics</label></label>
                                    <section class="select_option">
                                        <select name="eduLevel" id="eduLevel" class="allSelect">
                                            {% if request.user.educational_level %}
                                                <option value="{{ request.user.educational_level }}" disabled hidden selected>{{ request.user.educational_level }}</option>                              
                                            {% else %}
                                                <option value="Highest Educational Level" disabled selected hidden>Highest Educational Level</option>
                                            {% endif %}
                                            <option value="Primary">Primary</option>
                                            <option value="Secondary">Secondary</option>
                                            <option value="Tertiary">Tertiary</option>
                                            <option value="Others">Orders</option>                                
                                        </select><br>
                                        <select name="specifics" id="specifics" class="allSelect">
                                            {% if request.user.specific_educational_level %}
                                                <option value="{{ request.user.specific_educational_level }}" disabled hidden selected>{{ request.user.specific_educational_level }}</option> 
                                            {% else %}
                                                <option value="Specific education level" disabled selected hidden>Specific Education Level</option>
                                            {% endif %}
                                                                            
                                        </select>
                                    </section><br>

                                    <label for="channel">Prefered Learning Channel <label for="tutorGender" id="tutorGen">Tutor Gender</label></label>
                                    <section class="select_option">
                                        <select name="channel" id="channel" class="allSelect">
                                            {% if request.user.prefered_channel %}
                                                <option value="{{ request.user.prefered_channel }}" disabled hidden selected>{{ request.user.prefered_channel }}</option>                              
                                            {% else %}
                                                <option value="Prefered Channel" disabled selected hidden>-- Select one --</option>
                                            {% endif %}
                                            <option value="Online">Online</option>
                                            <option value="Physical">Physical</option>
                                            <option value="Hybrid">Hybrid</option>                               
                                        </select><br>
                                        <select name="tutorGender" id="tutorGender" class="allSelect">
                                            {% if request.user.prefered_tutor_gender %}
                                                <option value="{{ request.user.prefered_tutor_gender }}">{{ request.user.prefered_tutor_gender }}</option>
                                            {% else %}
                                                <option value="Prefered Gender" disabled selected hidden>-- Select one --</option>
                                            {% endif %}
                                            
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Any">Any</option> 
                                                                            
                                        </select>
                                    </section><br>
                                    <button class="save_button">Save</button>                               
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- change password -->
                    <div class="change_password_control_display">
                        <div class="profileUpdate">
                            <div class="profile_update_content">
                                <div class="dp">
                                    <img src="{{ request.user.profile_picture.url }}" alt="">
                                </div>                               
                                <h3><span>Hi,</span> {{ request.user }}</h3>
                                
                                <form action="{% url 'changePassword' %}" method='POST'>
                                    {% csrf_token %}
                                    <br><br>
                                    <input type="password" name="oldPassword" id="" class="extend" placeholder="old password">
                                    <br><br>
                                    <input type="password" name="newPassword" id="" class="extend" placeholder="new password"><br><br>
                                    <input type="password" name="confirmNewPassword" id="" class="extend" placeholder="confirm new password"><br><br><br>
                                    <button class="save_button">Save</button>                               
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="right_pane">
                    <div class="right_content">
                        <div class="rooms resize">Rooms
                            <img src="{% static 'images/socialLinks/chatroom.png' %}" alt="">
                        </div>
                        <div class="add_tutor resize">Connect with a Tutor
                            <img src="{% static 'images/socialLinks/tutor.jpg' %}" alt="">
                        </div>
                        <div class="suggestion resize">Have a suggestion?
                            <img src="{% static 'images/socialLinks/suggestion.png' %}" alt="">
                        </div>               
                        <div class="spomsor resize">Become a sponsor
                            <img src="{% static 'images/socialLinks/sponsor.jpeg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- History Dashboard -->
    <div class="history_set">
        <div class="container">
            <div class="sidebar">
                <div class="personal side">
                    <div class="profile_pics">
                        <img src="{{ request.user.profile_picture.url }}" alt="Client Passport">
                    </div>
                    <div class="other_info">
                        <p>{{ request.user.email }}</p>
                    </div>
                </div>
                <div class="hrtop"><hr></div>
                <div class="side_items">
                    <div class="settings side">
                        <a href="{% url 'validate_user' whoami=request.user %}" class="db_active">Dashboard</a> 
                        </div>   
                    <div class="settings side">
                    <a href="#" class="set_active">Settings</a> 
                    </div>            
                    <div class="history side historica" id="history">
                        <a href="#">History</a>
                        <h6 id="coming_soon" class="coming_soon">Coming soon</h6>
                    </div>
                    <div class='addTutors side'>
                        <a href="{% url 'view_tutors' %}" class="exploreTutors">View Tutors</a>
                    </div><br>                  
                    <div class="logout side logout_activation">
                        <a href="#" style="color: red">Logout</a> 
                    </div>            
                </div>
            </div>

            <div class="content">
                <div class="left_pane">
                    <div class="profile_info">
                        <h2 class="fa-solid fa-timeline">&nbsp; <span>History</span></h2>
                    </div>

                    <!-- <div class="update_navbar">
                        <nav class="update_elements">
                            <table>
                                <thead id="elements_control">
                                    <td style="width: 30px; cursor: default;"></td>
                                    <td id="update_profile" class="test">Update Profile</td>
                                    <td id="change_password" class="test">Change Password</td>
                                    <td id="deactivate_account" class="test">Deactivate Account</td>
                                </thead>
                            </table>
                        </nav>
                    </div> -->

                    <!-- profile update -->
                    <!-- <div class="profile_control_display">
                        <div class="profileUpdate">
                            <div class="profile_update_content">
                                <div class="dp">
                                    <img src="{% static 'images/tutors/pass.jpg" alt="' %}">
                                    <p>change profile picture</p>
                                </div>                               
                                <h3><span>Hi,</span> UserName</h3>
                                
                                <form action="">
                                    <input type="text" name="" id="" placeholder="firstName">
                                    <input type="text" name="" id="" class="extend" placeholder="lastName">
                                    <input type="tel" name="" id="" class="extend" placeholder="phone Number">
                                    <input type="text" name="" id="" class="extend" placeholder="residential Address">
                                    <input type="text" name="" id="" class="extend" placeholder="state of resident">
                                    <input type="text" name="" id="" class="extend" placeholder="Nationality"> <br>
                                    <button class="save_button">Save</button>                               
                                </form>
                            </div>
                        </div>
                    </div> -->
                    <h1><center>Coming soon!</center></h1>                    
                    
                </div>

                <div class="right_pane">
                    <div class="right_content">
                        <div class="rooms resize">Rooms
                            <img src="{% static 'images/socialLinks/chatroom.png' %}" alt="">
                        </div>
                        <div class="add_tutor resize">Connect with a Tutor
                            <img src="{% static 'images/socialLinks/tutor.jpg' %}" alt="">
                        </div>
                        <div class="suggestion resize">Have a suggestion?
                            <img src="{% static 'images/socialLinks/suggestion.png' %}" alt="">
                        </div>               
                        <div class="spomsor resize">Become a sponsor
                            <img src="{% static 'images/socialLinks/sponsor.jpeg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>

{% endblock content %}

