@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Hedvig+Letters+Sans&family=Inika:wght@400;700&family=Marko+One&family=Roboto&family=Rowdies&family=Saira&display=swap');
body{
    background-color: #b0b9df;
    margin: 0px;
}

/* Hide logics */
.activate_learners{
    display: none;
}

.activate_tutors{
    display: nne;
}

.set_action, .set_action_client, .set_action_tutor{
    display: none;
}

.set_tutors_details{
    display: block;
}

.set_other_details{
    display:non;
}

.set_review_details{
    display: none;
}

.set_report_details{
    display: none;
}

.set_disable_account{
    display: none;
}

/* hide logic ends */

.admin_dash{
    display: flex;
}

.leftpane{
    background-color: white;
    width: 20%;
    height: 100vh;
    margin-right: 70px;
    font-family: 'Rowdies', sans-serif;
    color: darkblue
}

.leftpane .dashboard_header{
    border-bottom: 2px solid rgb(196, 195, 195);
}

.leftpane .dashboard_list{
    font-family: 'Saira', sans-serif;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.leftpane .dashboard_list:hover{
    color: green;
}

.admin_basic_profile{
    display: flex;
    justify-content: last baseline;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}

.admin_basic_profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.admin_basic_profile p{
    font-family: 'Inika', serif;
    font-size: 16px;
    margin-top: 2px;
    color: rgba(0, 0, 139, 0.601)
}

.leftpane_content{
    padding: 20px 40px 20px 40px;
    line-height: 40px;
}

.admin_right_top{
    display: flex;
    width: 1000px;
    height: 100px;
    box-shadow: 2px 2px 5px 2px rgb(251, 252, 237);
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 30px;
}

.hello_admin{
    margin-top: 40px;
    margin-left: 2%;
    font-family: 'DM Sans', sans-serif;
}

.logout{
    display: inline;
    margin-right: 20px;
    right: 0;
    float: right;
    margin-top: -1px;
    color: rgb(6, 0, 52);
    border-bottom: 2px solid red;
    cursor: pointer;
}

.search{
    height: 30px;
    border: 1px solid red;
    box-shadow: 1px 1px 5px 1px rgba(235, 232, 232, 0.83);
    border-radius: 20px;
    border: 1px solid grey;
    margin: 15px;
    padding-right: 0px;
    float: right;
    background-color: white;
}

.search input[type="text"]:focus{
    outline: none;
}

.search .search_button{
    height: 30px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(2, 7, 80, 0.811);
    color: white;
    cursor: pointer;
    border: none;
}

.search input[type="text"]{
    height: 20px;
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5px;
    border: none
}

.hello_admin span, .allTutors{
    font-size: large;
    font-weight: bold;
    color: darkblue;
    border-bottom: 2px solid rgba(0, 0, 139, 0.166);
}

.content{
    display: flex;
    width: 300px;
    padding: 20px;
    margin-left: 7%;
}

.inner_content p{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 8px;
}

.inner_content .top{
    margin-top: 12px;
    font-size: 12px;
    color: gray;
}

.inner_content .total_registered{
    font-weight: 600;
    font-family: 'Marko One', serif;
}

/* Tutors list logic */
.tutors_list{
    margin-top: 0px;
    width: 1000px;
    height: 480px;
    background-color: white;
    border-radius: 20px;
    overflow-x: hidden;
}

.tutors_list .allTutors{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-size: 20px;
}

table {
    margin: 0px 10px;
}

.sort{
    background-color: white;
    border: 1px solid gray;
    margin-left: 200px;
    font-size: small;
    padding: 6px 10px 6px 10px;
    color: gray;
    border-radius: 50px;
}

.sort select{
    border: none;
    padding-left: 5px;
}

.sort select:focus{
    outline: none;
}


/* table styling */
.all_data table{
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 1050px;
    margin: auto auto;
}

.all_data td, th{
    border-bottom: 1px solid gray;
    padding: 20px 15px 15px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.all_data thead th{
    font-weight: bold;
    color: gray;
    font-size: x-small;
    padding: 2px 10px, 2px 10px;
    cursor: pointer;
}

.check_status, .check_status_client, .action, .action_client{
    border-radius: 5px;
    padding: 4px;
    width: 60px;
    font-size: small;
    border: 1px solid gray;
}

.action, .action_client{
    width: 80px;
    background: linear-gradient(90deg, darkblue, rgba(57, 104, 88, 0.794));
    color: white;
    cursor: pointer;
}


/* Action dialog */
.activate_action{
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    backdrop-filter: brightness(0.2);
}

.action_dialog{
    height: 600px;
    width: 900px;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 12px 1px white;
    padding: 10px 20px 10px 20px;
    border-bottom: 2px solid rgba(239, 2, 2, 0.433);
}

.close, .close_client{
    margin-left: 40px;
    color: rgba(203, 1, 1, 0.329);
    border: 1px solid rgb(117, 0, 0);
    border-radius: 50%;
    border-color: rgba(255, 0, 0, 0.085);
    padding: 4px 8px 4px 8px;
    box-shadow: 1px 1px 10px 1px rgba(252, 2, 2, 0.294);
    cursor: pointer;
    margin-bottom: 0px;
}

.close:hover{
    color: red;
    box-shadow: 1px 1px 10px 1px rgba(252, 2, 2, 0.487);
}

.action_dialog .header{
    display: flx;
    font-family: 'Roboto', sans-serif;
}

.header h2{
    margin-bottom: 0px;
    color: rgb(0, 0, 70)
}

.push_right{
    float: right;
    margin-right: 20px;
}

.push_right p{
    margin-bottom: 5px;
    margin-top: 0px;
}

.push_right .active_user{
    font-weight: bolder;
    color: gray;
    margin-top: 10px;
}

.push_right .selected_user{
    font-weight: lighter;
    font-size: 14px;
    border: 1px solid rgb(228, 220, 220);
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    color: rgb(131, 1, 1);
    background-color: rgba(144, 153, 156, 0.546);
}

.push_right .selected_email{
    font-size: 11px;
    float: right;
    margin-right: 80px;
    color: rgb(105, 103, 103);
}

.active_admin_user{
    margin-top: 0px;
    font-family: 'Saira', sans-serif;
    font-style: italic;
    font-size: 12px;
    color: rgb(53, 42, 42);
}

.top_action{
    border-bottom: 2px solid rgb(131, 1, 1);
}

.action_leftpane, .view_container{
    margin-top: 20px;
    background-color: white;
    width: 220px;
    height: 65vh;
    border-radius: 12px;
    box-shadow: 1px 1px 12px 1px rgb(232, 235, 197);
}

.action_head{
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 0px !important;
    border-bottom: 1px solid gray;
    padding-bottom: 3px;
    color: rgb(114, 2, 2);
}

.action_list{
    padding-left: 5px;
    padding-bottom: 12px;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
}

.action_leftpane p{
    padding-left: 30px;
}

.action_leftpane, .pedia{
    font-family: 'DM Sans', sans-serif;
}

.action_list:hover{
    color: green;
}

.pedia{
    text-align: center;
    margin-top: 180px;
    color: rgb(1, 1, 118);
    padding-top: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.287);
}

.flex_content{
    display: flex;
}

/* View section */
.view_container{
    margin-left: 20px;
    width: 650px;
    background: linear-gradient(450deg, white, whitesmoke);
    box-shadow: none;
}

.nav_content{
    margin: 20px;
    border-bottom: 1px solid rgb(109, 98, 98);
}

.nav_content p{
    display: inline;
    padding: 12px;
    font-family: 'DM Sans', sans-serif;
}

.nav_content p:hover{
    color: blue;
    cursor: pointer;
}

/* profile view */
.profile_view{
    border: 1px solid rgba(128, 128, 128, 0.107);
    border-radius: 10px;
    margin: auto;
    height: 53vh;
    width: 40vw;
    box-shadow: 1px 1px 5px 1px rgba(222, 222, 211, 0.624);
    font-family: 'DM Sans', sans-serif;
    overflow-y: auto;
    padding-bottom: 10px;
}

.details img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0px;
    box-shadow: 1px 1px 10px 1px rgba(48, 43, 23, 0.555);
}

.details .details_dp{
    float: right;
    text-align: center;
    padding-right: 10px;
}

.details_dp p{
    margin-top: 0px;
    font-size: small;
    color: gray
}

.details .head{
    border-bottom: 1px solid rgba(175, 168, 168, 0.263);
    width: 70%;
    padding-left: 20px;
}

.details .head h4{
    margin-bottom: 0px;
    margin-top: 10px;
    padding-top: 10px;
    color: darkblue
}

.details .head span{
    font-size: 14px;
    color: rgba(128, 128, 128, 0.699)
}

.details .head p{
    margin-top: 0px;
    font-size: small;
    color:gray;
    padding-bottom: 5px;
}

.bio_data{
    margin-left: 12px;
}

.bio_data fieldset{
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.203);
}

.bio_data fieldset p{
    margin: 4px;
}

.bio_data legend{
    color: gray;
    font-size: small;
}

.bio_data .tag{
    font-size: 12px;
    color: gray;
    padding-left: 5px;
}

.bio_data .value, .bio_data .state_national{
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.268);
    padding: 2px 2px 2px 5px;
    border-radius: 10px;
    font-size: small;
}

.bio_data .state{
    width: 60%;
    padding: 0px 0px 1px 0px;
    margin-top: 0px;
}

.bio_data .national{
    border-left: 1px solid rgba(0, 0, 0, 0.22);
    padding: 0px 0px 1px 10px;
    margin-top: 0px;
    height: 15px;
}

.state_national{
    display: flex;
    height: 16px;
}

.gpa, .rejected{
    padding-left: 30px;
}

.grade{
    width: 50px;
}

.cv_view{
    float: right;
    margin-right: 10px;
    font-size: small;
    border-radius: 50px;
    font-size: 10px;
    padding: 3px 8px 2px 8px;
    border: 1px solid gray;
    cursor: pointer;
    color: darkblue;
    background-color: rgb(201, 189, 233);
}

.total{
    width: 30% !important;
}

.accepted{
    width: 30% !important;
}

/* account disabling logic */
.disable_account{
   width: 100vw;
   height: 100vh;
   position: absolute;
   display: flex;
   backdrop-filter: brightness(0.3);
}

.disable_account_content{
    width: 45%;
    height: 45%; 
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.215);
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px white;
    padding: 0px 20px 20px 20px;
}

.disable_warning section{
   margin-left: 45%;
}

.disable_warning img{
    width: 60px;
    height: 60px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.disable_warning_box{
    border-bottom: 2px solid rgba(128, 128, 128, 0.258);
}

.disable_warning_box p{
    text-align: center;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 0px;
    font-weight: bold;
    padding-top: 0px;
    color: red;
}

.disable_action{
    font-size: 14px !important;
    font-weight: lighter !important;
    color: rgb(6, 1, 46) !important
}

.disable_close{
    border: 1px solid rgba(255, 0, 0, 0.167);
    border-radius: 50%;
    float: right;
    padding: 1px 8px 2px 8px;
    margin-right: 20px;
    color: rgba(255, 0, 0, 0.395);
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    box-shadow: 1px 1px 5px 1px rgba(223, 137, 137, 0.548);
    cursor: pointer;
}

.disable_close:hover{
    color:red;
    box-shadow: 1px 1px 5px 1px rgba(228, 73, 73, 0.624);
}

.selections{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.selections button{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-weight: 600;
    font-size: large;
    color: white;
    border: 1px solid wheat;
    cursor: pointer;
}

.selections .mistake{
    background-color: blue;
}

.selections .confirm_remove{
    background-color: red;
}

/* Pagination */
#pagination {
    background-color: white;
    padding: 3px;
    margin-top: 5px;
    border-radius: 5px;
    width: 50%;
}