.activeForm {
    color: #4BE5CA;
    font-weight: bold;
    border-bottom: 2px solid #4BE5CA;
}

.adminLogin{
    display: block;
}

.adminSignUp{
    display: none;
}

#admin_login_message{
    background-color: ghostwhite;
    padding: 10px;
    width: 50%;
    font-size: large;
    box-shadow: 1px 1px 4px 1px rgb(234, 173, 173);
}