@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Inika:wght@400;700&family=Marko+One&family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Inika:wght@400;700&family=Marko+One&family=Rowdies&family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Hedvig+Letters+Sans&family=Inika:wght@400;700&family=Marko+One&family=Rowdies&family=Saira&display=swap');

body {
    margin: 0px;
    background-image: url('../images/backgrounds/darkbgr.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
}


/* Sidebar for links and personal profile photo */
.sidebar {
    flex: 1;
    height: 661px;
    max-width: 200px;
    border: 1px solid rgba(245, 222, 179, 0.259);
    border-radius: 0px 10px 10px 0px;
    /* border-right: none; */
    padding: 10px;
    color: white;
    background-color: rgb(40, 42, 61);
    margin: 10px 0px 10px 0px;
}

.sidebar .personal {
    /* height: 150px; */
    width: 200px;
    text-align: center;
    margin: 20px auto;
}

.sidebar .other_info{
    line-height: 5px;
    font-size: 12px;
}

.hrtop {
    margin-top: 30px;
    width: 100%;
}

.hrtop hr {
    height: 1px;
}

.sidebar .side_items{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 50px;
    padding-left: 30%;
    line-height: 70px;
    font-size: 1.2em;
}

.sidebar .side a:hover{
    color: rgb(0, 255, 217);
    border-bottom: 2px solid rgb(0, 255, 217);
}

.sidebar .side a{
    text-decoration: none;
    color: white;
}

.sidebar .personal{
    margin-bottom: 0px;
    padding-bottom: 0%;
}

.sidebar .personal img{
    display: block;
    width: 72px;
    height: 72px;
    margin: auto;
    border-radius: 50%;
}

/* contents to display sidebar link data */
.content{
    flex: 3;
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: nne;
}

.courses {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(58, 38, 38, 0.316);
}

.courses .item {
    border: 1px solid black;
    width: 140px;
    height: 30px;
    line-height: 50%;
    padding: 10px;
    padding-left: 15px;
    padding-top: 0px;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 1px solid white;
    box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.539);
}

.item p{
    display: inline-block;
    margin-left: 20px;
}

.left_pane {
    flex: 4;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 2px 2px 10px 2px rgb(201, 199, 199);
    border-radius: 10px;
    background: radial-gradient(white 50%, rgb(225, 238, 249));
    margin: 20px;
}

.left_pane .profile_info {
    padding: 10px 0px 10px 40px;
    margin-bottom: 0px !important;
    align-items: center;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.351);
    font-family: 'Hedvig Letters Sans', sans-serif;
    margin: 20px;
    background-color: rgba(104, 104, 120, 0.295);
    border-radius: 50px;
    color: rgb(0, 5, 93);
    border-bottom: 3px solid rgba(2, 7, 80, 0.705);
    font-size: large;
}

.left_pane .profile_info h2{
    margin-top: 0px;
    margin-bottom: 2px;
}

.left_pane .profile_info span{
    font-family: 'DM Sans', sans-serif;
}

.progress{
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.progress_text{
    font-family: 'Inika', serif;
    font-size: 11px;
    color: grey;
}

.left_pane .activities {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.cover{
    max-height: 400px;
    overflow-y: auto;
    position: relative;
}

.my_tutors{
    display: flex;
    justify-content: end;
    margin-right: 38px;

}

.my_tutors .searchClient{
    height: 30px;
    border: 1px solid red;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.83);
    border-radius: 20px;
    border: 1px solid grey;
    margin-right: 0px;
    padding-right: 0px;
}

.my_tutors .searchClient input[type="text"]{
    height: 15px;
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5px;
    border: none;
    width: 300px;
}

.my_tutors .searchClient input[type="text"]:focus, .allSelect:focus{
    outline: none;
}

.my_tutors .searchClient .searchClient_button{
    height: 30px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(2, 7, 80, 0.811);
    color: white;
    cursor: pointer;
    border: none;
}

.left_pane .activities .subjects {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.subjects {
    flex: 4;
    margin-top: 10px;
    min-height: 130px;
}

.subjects .subject_details .tutor_picture{
    flex: 1;
    border: 1px solid black
}

.tutor_info{
    margin: 0;
}

.subjects .subject_details .tutor_info img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3px 10px 3px 3px;
}

.subject_details{
    padding: 5px 10px;
}

.subjects .subject_details .tutor_info {
    flex: 1;
    display: block;
}

.table {
    display: table;
    margin: 0 10px;
}

.table .tr{
    display: table-cell;
}

.tutor_toggles{
    margin-top: 1px;
    height: 35px;
    margin-left: 8%;
}

.tutor_toggles .even-width{
    border: none;
    height: 22px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    color: darkblue;
    background-color: transparent;
    cursor: pointer;
}

.tutor_toggles .even-width:hover{
    color:rgb(1, 59, 50);
    border-bottom: 1px solid rgb(1, 59, 50);
    border-radius: 5px;
}

.float_left{
    float: left;
}

.float_left .tutor_name {
    display: block;
    font-style: italic;
    font-size: small;
    padding: 0 10px;
    margin: 0;
}

.float_left .contract {
    color: rgba(13, 13, 13, 0.7);
    font-size: 0.7em;
}

.tutor_subject{
    padding-right: 0 10px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 100);
    font-size: 0.9em;
}
.class_schedule, .engage {
    font-size: small;
    padding: 0 10px 10px 10px;
}

.requestStatus{
     float: right;
     text-align: center;
     width: 100px
}

.requestStatus .statuus{
    color: gray;
    font-size: small;
}

.status {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0px;
    margin-right: 30px;
    text-align: center;
}

.statusDefault{
    background-color: rgba(0, 0, 0, 0.672);
}

.statusActive{
    background-color: rgba(1, 112, 8, 0.672);
}

.statusPending{
    background-color: rgba(141, 0, 0, 0.677);
}

.statusDecline{
    background-color: red;
}

.requestStatus p{
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .hr{
    width: 95%;
    margin: 0 auto;
  }
  .hr hr{
    height: 1px;
    margin-top: 0;
  }

/* Right side of content container */
.right_pane {
    flex: 2;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgba(201, 199, 199, 0.11); */
    box-shadow: 1px 1px 5px 1px rgba(201, 199, 199, 0.369);
    border-radius: 10px;
    /* background: radial-gradient(white 20%, rgb(185, 200, 211)); */
    background-color: rgba(71, 63, 63, 0.086);
    margin: 20px 10px 20px 0px;
    max-width: 200px;
}
.right_content{
    margin: 20px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-size: 0.8em;
    line-height: 50px;
    font-weight: bold;
    color: rgba(2, 7, 80, 0.811);
}

.resize img{
    border-radius: 2%;
    width: 100%;
    height: 70px;
}

/* hidding logic */
.set {
    display: none;
}
.history_set{
    display: none;
}

.db{
    display: nne;
}
.change_password_control_display{
    display: none;
}

.deactivate_account_control_display{
    display: none;
}

.logout_btn {
    display: none;
}


/* settings Nav-bar */
.update_elements{
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.update_elements table{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

.update_elements td{
    padding: 5px 20px 5px 20px;
    font-family: 'Inika', serif;
    cursor: pointer;
}

.update_elements #update_profile{
    border: 1px solid black;
    border-bottom: 1px solid transparent;
    color:rgb(3, 120, 3)
}

.update_elements #deactivate_account{
    color: red;
}

/* profile update */
.profile_control_display{
    display: non;
}

.profileUpdate{
    display: flex;
}

.profile_update_content{
    width: 80%;
    height: 410px;
    margin: auto auto;
    margin-top: 20px;
    border: 1px solid rgba(140, 139, 132, 0.421);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.266);
    padding: 0px 20px 0px 20px;
    background-color: rgba(245, 222, 179, 0.141);
    overflow: auto;
    padding-bottom: 10px;
}

label{
    padding-left: 10px;
    font-size: small;
    color: gray;
}

.profile_update_content h3{
    font-family: 'DM Sans', sans-serif;
    margin-top: 40px;
    margin-left: 40px;
    color:rgb(0, 5, 93)
}

.profile_update_content span{
    color: black;
}

.profile_update_content input{
    width: 70%;
    line-height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color: rgba(128, 128, 128, 0.385);
}

.profile_update_content .extend{
    width: 95%;
}

.profile_update_content input:focus{
    outline-color: rgba(0, 17, 128, 0.323);
}

.profile_update_content .save_button{
    margin: auto auto;
    display: block;
    width: 80%;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(0, 3, 65, 0.886);
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid rgba(245, 222, 179, 0.475);
    cursor: pointer;
}

.dp{
    display: flex;
    justify-content: center;
    float: right;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px;
    width: 110px;
    border-radius: 10px;
    border-color: whitesmoke;
    box-shadow: 1px 1px 5px 1px rgba(210, 206, 206, 0.705);
}

.dp img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: block;
    margin: auto auto;
    margin-bottom: 2px;
}

.dp #change{
    font-size: x-small;
    color: rgba(62, 61, 61, 0.769);
    margin-top: 0px;
    padding-top: 0px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid gray;
    cursor: not-allowed;

}

.dp #change:hover{
    color: rgb(0, 50, 22);
    border-bottom: 1px solid black;
    cursor: not-allowed;
    pointer-events: none;
}

.deactivate_account_control_display, .logout_btn{
    position: absolute;
    backdrop-filter: brightness(0.1);
    width: 100%;
    top:0;
    height: 100%;
}

.deactivateAccount, .logout_btn_account{
    width: 50%;
    height: 410px;
    margin: auto auto;
    margin-top: 20px;
    border: 1px solid rgba(140, 139, 132, 0.421);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(243, 240, 240, 0.705);
    padding: 0px 20px 0px 20px;
    background-color: rgb(251, 251, 251);
    margin-top: 10%;
    border-bottom: 2px solid red;
}

.warning {
    margin-top: 20px;
}

.warning img{
    width: 80px;
    height: 70px;
    display: block;
    margin: auto;
}

.warning_box{
    margin: auto auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.warning .confirm_dialog{
    margin-top: 0px;
    font-size: x-large;
    font-weight: 800;
    color: red;
    font-family: 'Marko One', serif;
}

.warning .action{
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(203, 194, 194);
}

.selections{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.selections button{
    padding: 20px 80px 20px 80px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 800;
    color: white;
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.selections .confirm_remove, .selections .confirm_logout{
    background-color: red;
}

.selections .mistake, .selections .cancel_logout{
    background-color: blue;
}

/* History Rules */
#coming_soon {
    display: block;
    position: absolute;
    margin-top: -50px;
    font-size: 0.6em;
    color: grey;
}

.logMessage{
    position: absolute;
    margin: auto;
    color: green;
    text-align: center;
    width: 43%;
}

#UpdateDp{
    color: rgb(208, 207, 207);
    font-size: xx-small;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 10px;
    line-height: 0px !important;
}

#UpdateDp::file-selector-button{
    border-radius: 20px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    font-size: xx-small;
    position: rlative;
    margin-bottom: 0px;
    cursor: pointer;
    margin-bottom: 0px;
}

#UpdateDp:focus{
    outline: none;
}

.redStatus{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    float: right;
    margin: 10px;
    margin-right: 30px;
    background-color: rgb(236, 63, 20);
}

/* Remove button */

.removeUser{
    display:none;
    position: relatve;
    background-color: white;
    box-shadow: 1px 1px 3px 1px rgb(202, 199, 199);
    border-radius: 20px;
    margin-left: 60px;
    padding: 10px;
    backdrop-filter: brightness(0.1);
    width: 250px;
}

.removeUser .warning_box{
    height: 10px;
}

.removeUser .confirm_dialog{
    font-size: small;
    font-weight: 600;
    color: red;
    margin-bottom: 0px;
}

.removeUser .action{
    font-size: small;
    margin-bottom: 0px;
}

.removeUser .selections button{
    height: 25px;
    width: 100px;
    padding: 10px;
    font-size: small;
    font-weight: 600;
    text-align: center;
    padding-top: 5px;
    border-bottom: 2px solid rgb(203, 194, 194);
}

.removeUser .cancel_remove{
    color: darkgreen
}

.rankColor{
    color: gold;
}

.defaultColor{
    color: gray;
}

.rankStar{
    position: absolute;
    float:left;
    text-align: center;
    margin-left: -18px;
    display: block;
    margin-top: -40px;
}

.rankTutor{
    font-size: 5px;
    margin-bottom: 0px;
}

.rankTutor span{
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0px;
}

.rankText{
    font-size: x-small;
    padding: 0px;
    margin-top: 0px;
    color: black;
}

.rankStar{
    display: none;
}

.viewColor{
    color: gold;
}

.notFound{
    text-align: center;
    margin-top: 10%;
    font-family: 'DM Sans', sans-serif;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.notFound p{
    border: 1px solid rgba(0, 128, 0, 0.353);
    width: auto;
    padding: 5px 30px 5px 30px;
    border-radius: 30px;
    background-color: whitesmoke;
}

/* Review section */

.reviews{
    width: 100%;
    height: 100vh;
    margin: auto auto;
    display:flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    backdrop-filter: brightness(0.2);
    align-items: center;
    overflow: hidden;
    top: 0;
}

.closeReview{
    float:right;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.454);
    border-radius: 50%;
    padding: 2px 7px 2px 7px;
    margin-bottom: 5px;
    color: rgba(255, 0, 0, 0.256);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    box-shadow: 0px 0px 4px 2px rgba(255, 0, 0, 0.248);
    cursor: pointer;
}

.closeReview:hover{
    color: red;
    background-color: white;
    box-shadow: 0px 0px 4px 2px rgba(255, 0, 0, 0.546);
}

.review_main{
    width: 700px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px gray;
    height: 500px;
    padding: 10px;
    padding-bottom: 30px;
}

.review_heading{
    font-weight: bolder;
    color: darkblue;
    font-size: 1.8em;
    margin-top: 0px;
    margin-bottom: 2px;
}

.reviews .profilePicture{
    float: right;
    width: auto;
    height: 100px;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.reviews .profilePicture img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.reviews .profilePicture p{
    text-align: center;
    margin-top: 0px;
    font-size: small;
    color: gray;
}

.review_tutor_details{
    width: 70%;
    margin-top: 2%;
    border-right: 1px solid rgba(80, 60, 74, 0.144);
}

.review_tutor_details h4{
    margin: 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.044);
    padding-left: 2%;
    color: rgb(139, 0, 14);
}

.review_tutor_details p{
    margin: 0px;
    padding-left: 2%;
    line-height: 20px;
}

.review_tutor_details .name{
    margin-top: 10px;
    font-weight: bold;
}

.profilePicture p{
    font-size: 0.2em;
}

.review_tutor_details .Trank{
    font-size: small;
    color: gray
}

.review_tutor_details .emp{
    width: 80%;
    border-bottom: 1px solid rgba(255, 0, 0, 0.372);
    margin-top: 1%;
}

.review_content, .transit{
    margin-top: 3%;
}

.review_content fieldset, .transit fieldset{
    width: 80%;
    margin: auto;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.412);
}

.review_content legend , .transit legend{
    color: gray;
    font-size: small;
    color: rgba(0, 0, 255, 0.793);
    background-color: whitesmoke;
    padding: 5px;
    margin-left: 1%;
}

.review_content input, .transit input{
    width: 85%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
}

.review_content textarea, .transit textarea{
    margin-left: 1.8%;
    width: 92%;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.review_content input:focus, .review_content textarea:focus, .transit input:focus, .transit textarea:focus{
    outline: 1px solid rgba(255, 0, 0, 0.472);
}

.review_content input[type="submit"], .transit input[type="submit"]{
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 30px;
    background-color: rgba(14, 0, 122, 0.955);
    cursor: pointer;
    border-bottom: 2px solid gray;
}

.allReview{

}

.allReview_container{
    display:flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    position: absolute;
    backdrop-filter: brightness(0.2);
    width: 100%;
    max-height: 100%;
}

.allReview_content .editReview{
    float: right;
    margin-right: 7%;
    cursor: pointer;
    border: none;
    padding: 2px 20px 2px 20px;
    border-radius: 40px;
    color: rgba(0, 128, 0, 0.506);
    font-weight: bold;
}

.allReview_content .editReview:hover{
    color: green;
    background-color: whitesmoke;
    border-top: 1px solid rgba(255, 0, 0, 0.297);
}

.allReview_content .headContent span{
    color: rgba(129, 16, 16, 0.705);
    font-weight: bold;
    font-size: 0.8em;
}

.allReview_content{
    padding: 2%;
    overflow: hidden;
    background-color: white;
    width: 60%;
    height: 75vh;
    box-shadow: 1px 1px 8px 1px rgba(239, 237, 237, 0.412);
    border-radius: 10px;
    margin-top: 5px;
}

.review_scroll{
    overflow-y: auto;
    max-height: 74vh;
    padding-right: 10px;
}

.allReview_content h3, .allReview_content p{
    margin: 0px;
}

.allReview_content .image img{
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.allReview_content .TRsubject{
    margin-left: 5%;
    font-size: small;
    margin-top: 2%;
    color: darkblue;
    font-weight: bold;
    margin-bottom: 0.5%;
}

.allReview_content .TRsubject span{
    color: black;
    font-weight: normal;
}

.allReview_content .message_content{
    width: 90%;
    height: auto;
    box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.412);
    margin: auto auto;
    padding: 1%;
    border-radius: 10px;
    max-height: 80px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.allReview_content .rank_validate{
    color: gray;
    font-size: small;
}

.allReview_content .Treview{
    color: rgb(97, 0, 0)
}

.allSelect{
    width: 48%;
    padding: 15px;
    border: 2px solid rgba(128, 128, 128, 0.621);
    height: 35px;
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5px;
}

.select_option{
    display: flex;
}

.select_option select{
    color: black !important;
}

#specs, #tutorGen{
    margin-left: 19%;
}

.submitEdit, .cancelEdit{
    width: 40% !important;
}

.submitEdit{
    margin-right: 15px;
}

.cancelEdit{
    margin-left: 15px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 30px;
    cursor: pointer;
    border-bottom: 2px solid gray;
    padding: 1% 15% 1% 15%;
}

.transit{
    animation: fadeIn 2s ease-in-out;
    opacity: 0;
    display: none;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.engagaement{
    float: right;
    color: red;
    background-color: red;
    width: 400px;
}

.engage{
    padding: 2px 20px 2px 20px;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 5%;
    cursor: pointer;
    background: linear-gradient(rgba(169, 169, 251, 0.346), rgb(213, 214, 208));
    box-shadow: -1px 1px 5px 1px rgba(128, 128, 128, 0.329);
    color: rgb(0, 84, 0);
    border-bottom: 1px solid rgba(255, 0, 0, 0.404);
    text-align: center;
}

.engage:hover{
    border-bottom: 1px solid red;
    color: green;
}

.engage a{
    text-decoration: none;
}

.elipses{
    float: right;
    margin-right: 5%;
}

.goRight{
    margin: auto;
    height: 22px;
    margin-bottom: 10%;
    overflow: hidden;
    width: 120px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgb(201, 194, 194);
}

.makePayment, .congrats, .balanceUp{
    display: none;
}
