/* flash messages */
.flash-container {
    position: fixed;
    top: 120px;
    left:30%;
    right: 30%;
    max-width: 500px;
}

.flash-message {
    /* padding: 15px; */
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #333;
    animation: fadeInOut 0.5s ease-in-out;
    padding-right: 5px;
}

.flash-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    padding-left: 2px;
}

.flash-success {
    background-color: #5cb85c;
    color: #fff;
}

.flash-error {
    background-color: #d9534f;
    color: #fff;
}

.flash-message .close-btn {
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
}