#logout_btn_top {
    padding: 10px 20px;
    background: #dc3545; /* Bootstrap's danger color */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
#logout_btn_top:hover {
    background: #c82333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}