@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cookie&family=Diphylleia&family=Domine&family=Dosis:wght@400;500&family=El+Messiri&family=Montserrat:wght@600&family=Roboto+Flex:opsz@8..144&family=Sora:wght@200;400;600&display=swap');
.background {
    background-image: url('../images/backgrounds/darkbgr.png');
    background-repeat: no-repeat;
    background-size:cover;
    /* position: fixed; */

}
.bg {
    /* background-color: rgba(246, 246, 246, 0.584);
 */
    height: 720px;
    border-radius: 3px;
    /* position: fixed; */
}
#logout_btn_top {
    padding: 10px 20px;
    background: #dc3545;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
#logout_btn_top:hover {
    background: #b41626;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.tutor_dasboard {
    display: flex;
    height: 100%;
    align-items: center;    /*  */
}

.left_section, .mid_section, .right_section {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0px;
    margin-top: 5px;
    padding: 1%;
    height: 680px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    overflow: hidden;
}

.left_section{
    flex: 1;
    min-width: 150px;
    background-color: rgba(252, 252, 252, 0.922);
    padding: 1%;
    font-family: 'Rowdies', sans-serif;
    color: rgb(0, 0, 100);
}

.mid_section {
    flex: 4;
    background: radial-gradient(white 50%, rgb(225, 238, 249));
    color: #181818;
    margin-left: 10px;

}

.right_section {
    flex: 0.7;
    margin-top: 0px;
    margin-left: 10px;
    background-color: rgba(252, 252, 252, 0.922);
    box-sizing: border-box;
    border-radius: 0%;
    line-height: 2.0;
    margin-right: 0px;
    height: 100%;
}
.right_section li a:hover {
    font-weight: bold;
}

/* left_section */
.user_details img {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    margin-bottom: 0px;
}

.user_details{
    display: inline-block;
    font-family: 'el messiri', 'Saira', sans-serif;
    font-size: 14px;
    line-height: 0px;
    margin-bottom: 0px;
    /* font-size: medium; */
}


.left_section h4 {
    font-weight:bold;
    font-size: x-large;
    margin: 15px 0px 30px 0px;
    text-align: left;
}

.nav_box {
 /* border: 1px solid rgb(8, 8, 25); */
    padding: 0px;
    width: 100%;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.742);
    border-radius: 10px 0 0 10px;
    box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.539);
    overflow-y: auto;

}

.nav_li {
    list-style-type: none;
    padding: 18px;
}

.nav_links span{
    text-decoration: none;
    display: inline-block;
    /* height: 10px; */
    color: rgb(0, 0, 100);
    width: 90%;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.539);
    font-size: larger;
}

/* logic for nav links */
.active span{
    color: #FF5722;
    font-weight: bolder;
}

.content_divs {
    display: none;
}

.logout {
    text-decoration: none;
    text-align: left;
    font-weight: 400;
    color: rgb(0, 0, 100);
    font-size:large;
    cursor: pointer;
}

.logout_activation a {
    text-decoration: none;
    text-align: left;
    font-weight: 800;
    color: rgb(223, 11, 15);
    font-size:large;
    cursor: pointer;
}
a .fa-sign-out{
    color: rgb(0, 0, 100);

}
/* right_section */
.greeting h3{
    font-family: 'el messiri', 'Inika', serif;
    color: rgb(0, 0, 100);
    letter-spacing: 1px;
    margin: 0px;
    margin-bottom: 10px;
    padding-left: 5%;

}
.username_size {
    color: #FF5722;
    font-size:larger;
}

.stats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    height: 130px;
    /* width: 930px; */
    font-family: 'dosis', 'Diphylleia', 'el messiri', 'Inika', serif;
    padding: 0px;
    box-sizing: border-box;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.556); */
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid rgba(58, 38, 38, 0.316);
}

.stats .stats_details {
    box-sizing: border-box;
    /* border: 1px solid black; */
    width: 23%;
    height: 70px;
    padding: 1%;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px 1px rgba(128, 128, 128, 0.539);
}

.stats_details p{
    font-weight: 700;
    font-size: medium;
    margin: 0;
    padding-left: 20px;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

.stats_details h3 {
    text-align: right;
    padding-right: 20px;
    margin: 0;
}
.stats_details p.total_earnings {
    text-align: center;
    padding: 0%;
}
.stats_details h3.payments{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: green;
    padding:0%;
    text-align: center;
}

.active_contracts{
    color: darkblue;
}

.pending_contracts{
    color: #d5a209;

}
.settled_contracts{
    color: #4CAF50;
}


.myclient{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 430px;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Diphylleia', 'dosis', 'el messiri', 'Inika', serif;
    overflow: hidden;
    overflow-y: auto;
}

.client_list_n_search {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: space-between;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.75), /* Top shadow */
                5px 0 5px -5px rgba(0, 0, 0, 0.75),  /* Right shadow */
                -5px 0 5px -5px rgba(0, 0, 0, 0.75)
}

.client_list_n_search h3{
    padding-left: 20px;
    font-weight:600;
    font-size: x-large;
}

/* .search{
    display: flex;
    align-items: center;
}
.search .search-box{
    width: 200px;
    line-height: 25px;
    margin-right: 2px;
    border-radius: 5px;
    margin-bottom: 0px;
    border-color: rgba(128, 128, 128, 0.385);
}

.search input:focus{
    outline-color: rgba(0, 17, 128, 0.323);
} */
.searchTutor{
    height: 30px;
    border: 1px solid red;
    box-shadow: 1px 1px 5px 1px rgba(128, 128, 128, 0.83);
    border-radius: 20px;
    border: 1px solid grey;
    margin-right: 0px;
    padding-right: 0px;
}

.searchTutor input[type="text"]{
    height: 20px;
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 5px;
    border: none;
    width:auto !important;
}

.searchTutor input[type="text"]:focus{
    outline: none;
}

.searchTutor .searchTutor_button{
    height: 30px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(2, 7, 80, 0.811);
    color: white;
    cursor: pointer;
    border: none;
    transform: translateY(-7%);
}

.client_list_table{
    width: 100%;
    border-collapse: collapse;
    height: 25px;
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
}

.client_list_table th, .client_list_table td {
 border-bottom: 1px solid #ddd;
 background-color: white;
 padding: 5px;
 font-size: medium;
 text-align: left;
 font-family: 'Inika', serif;
}

.client_list_table .report_btn {
    width: 85px;
}


.client_list_table th {
    background-color: #deba0819;
    color: rgb(0, 0, 100);
}

.client_table-container {
    max-height: 350px; /* Set the maximum height for the table */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
    box-shadow:   5px 0 5px -5px rgba(0, 0, 0, 0.75),  /* Right shadow */
                  -5px 0 5px -5px rgba(0, 0, 0, 0.75), /* Left shadow */
                  0 5px 5px -5px rgba(0, 0, 0, 0.75); /* bottom shadow */
}
/* button,  */
.search_button{
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(2, 7, 80, 0.811);
    color: white;
    cursor: pointer;
    border: none
}

.btn_green button:hover {
    color: #38f04a;
}

.search_button {
    width: 100px;
    margin-left: 0px;
    margin-right: 40px;
}

.subject_add_container button,
.working_schedule_contents button,
.profileUpdate button,
.report_btn button,
.cancel_contract_btn button,
.accept_contract_btn button,
.decline_contract_btn button{
    padding-left: 1px;
    padding-right: 1px;
    cursor: pointer;
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(2, 7, 80, 0.811);
    color: white;
    cursor: pointer;
    border: none;
    width: 60px;
}
.subject_view_display {
    overflow: hidden;
    overflow-y: auto;
}

.subject_add_container button{
    width: 200px;
    margin-bottom: 10px;
}
.m-with {
    width: 100% !important;
    outline-color: rgba(0, 17, 128);
}
.m-with:focus {
    outline-color: rgba(0, 17, 128, 0.323) !important;
}
.cancel_btn button:hover {
    background-color: rgb(166, 13, 13);
    color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
}

input[type="submit"]:hover,
.subject_add_container button:hover,
.working_schedule_contents button:hover{
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
    background-color: rgba(2, 7, 80, 0.979);


}

.report_btn button:hover {
    background-color: rgba(2, 7, 80, 0.979);
    color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
}

.report_btn_activation,
.cancel_contract_btn_activation,
.review_link_popup_activation,
.reports_view_popup_activation,
.pending_clients_activation,
.settled_clients_activation {
    display: none;
}

/* quick links */

.quicK_links{
    font-family: 'Inika', serif;
    color: #FF5722;
    letter-spacing: 1px;
}
.qlinks {
    list-style-type:  none;
    text-align: left;
    padding-left: 0px;
}

.qlinks li {
    margin-bottom: 10px;
    color: rgba(0, 17, 128);
    cursor: pointer;
    transition: font-weight 0.4s ease;
}

.qlinks a {
    text-decoration: none;
    /* margin-bottom: px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300;
    color: rgba(0, 17, 128);;
    transition: font-weight 0.4s ease;
}

.qlinks li:hover, .qlinks li a:hover {
    font-weight: bold;
}

/* Programs start */
.program_pane{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 2px 2px 10px 2px rgb(201, 199, 199);
    border-radius: 10px;
    background: radial-gradient(white 50%, rgb(225, 238, 249));
    margin-top: 10px;
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
    /* width: 930px; */
    font-family: 'Hedvig Letters Sans', sans-serif;
}

.subject_add_display,
.subject_update_display,
.subject_remove_display{
    display: none;
}

.subject_list {
    padding: 20px;
    line-height: 25px;
}

.subject_table {
    width: 100%;
    border-collapse: collapse;
}

.subject_table th,
.subject_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.subject_table th {
    background-color: rgba(0, 17, 128);
    color: white;
    font-size: larger;
}
.subject_add_container{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 400px;
    overflow: hidden;
    overflow-y: auto;
    font-size: 0.95em;
}

.subject_add_container h2, .subject_list h2{
    border-bottom: 1px solid rgba(0, 17, 128);
    font-family: 'dosis', 'Diphylleia', 'el messiri', 'Inika', serif;
    font-size: 18px;
    margin-bottom: 25px;
    color: rgba(0, 17, 128);
}
.subject_form_group{
    margin-bottom: 15px;
}
.subject_add_container label {
    /* display: block; */
    margin-bottom: 5px;
}
.subject_add_container input[type="text"],
.subject_add_container select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline-color: rgba(0, 17, 128, 0.323) !important;
  font-size: 1em;
}

.subject_add_container select {
    width: 100%;
}
#subjectForm input {
    width: 100%;
}
.subject_save_btn{
    width: 200px;
}


/* Settings */

.left_pane {
    flex: 4;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(201, 199, 199);
    box-shadow: 2px 2px 10px 2px rgb(201, 199, 199);
    border-radius: 10px;
    background: radial-gradient(white 50%, rgb(225, 238, 249));
    margin: 15px;
    height: 600px;
    /* overflow-y: auto; */
    /* width: 900px; */
}

.left_pane .profile_info {
    padding: 20px 0px 15px 40px;
    margin-bottom: 0px;
    align-items: center;
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.351);
    font-family: 'Hedvig Letters Sans', sans-serif;
    margin: 20px;
    background-color: rgba(104, 104, 120, 0.295);
    border-radius: 50px;
    color: rgb(0, 5, 93);
    border-bottom: 3px solid rgba(2, 7, 80, 0.705);
    font-size: large;
}

.left_pane .profile_info h2{
    margin-top: 0px;
    margin-bottom: 2px;
}

.left_pane .profile_info span{
    font-family: 'DM Sans', sans-serif;
}
.db{
    display: block;
}
.change_password_control_display{
    display: none;
}

.deactivate_account_control_display{
    display: none;
}

.logout_btn {
    display: none;
}


/* settings Nav-bar */
.update_elements{
    display: flex;
    justify-content: space-evenly;
    /* padding-right: 10px; */
}

.update_elements table{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.update_elements thead {
    width: 100%;
}

.update_elements td {
	font-family: 'Inika', serif;
	width: 16.6%;
	cursor: pointer;
	font-size: medium;
	padding: 15px 10px;
	text-align: center;
}
.separator{
    border-bottom: 2px solid rgba(165, 164, 164, 0.864);
}
.test2 {
    border: none !important;
}

.update_elements #update_profile{
    color:rgb(3, 120, 3);
    font-weight: bold;
    box-shadow: 2px 2px 10px 2px rgb(201, 199, 199)

}
.flexRemove {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.fa-circle-xmark {
    color: darkblue;
    cursor: pointer;
}
.fa-circle-xmark:hover {
    color: red;
}
.update_elements #deactivate_account{
    color: red;
}
.refreshPage {
    background-color: #3498db !important;
    color: #fff;
    border: none;
    margin-top: 20%;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}
.refreshPage:hover {
    background-color: rgba(2, 7, 80, 0.979) !important;
}

.refreshPage:hover .fa-arrows-rotate {
    transform: rotate(360deg);
}

.fa-arrows-rotate {
    margin-left: 5px;
    transition: transform 0.5s ease-in-out;
}
.modal, .disengage {
    display: none;
    position: fixed;
    top: 60%;
    left: 40%;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    z-index: 100;
}
#done {
    height: 180px;
}
/* .disengage{
    display: none;
    backdrop-filter: brightness(0.1);
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 200vh;
    position: fixed;
} */
.modal2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 40%;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}
/* for contract termination */

.disengage h3  {
    margin-bottom: 20px;
}

.disengage label {
    display: block;
    margin-bottom: 10px;
}

.disengage select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.term_btn {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.disengage button {
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.disengage #terminate {
    background-color: #4CAF50;
    color: #fff;
}

#closeSuccessModal {
    background-color: #ccc;
    color: #000;
}

/* stop contract termination */

#confirmationModal  {
    color: #ff6600;
}

#errorModal h2, #errorModal2 h2, #errorModal3 h2, #errorModal4 h2 {
    color: red;
}
#overlap h2 {
    color: red;
}
.work_options select{
    outline: none !important;
    border: none;
    background: transparent;
}
#confirmationModal button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#confirmationModal button.cancel {
    background-color: #ccc;
}
#successModal h3, #done h3, #successModal2 h3, #successModal3 h3, #successModal4 h3 {
    color: #4CAF50;
    font-size: 18px;
}

#successModal button, #successModal2 button, #successModal3 button, #successModal4 button, #done button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* profile update */
.profile_control_display{
    display: non;
}

.profileUpdate{
    display: flex;
}

.profile_update_content{
    width: 80%;
    height: 350px;
    margin: auto auto;
    margin-top: 20px;
    border: 1px solid rgba(140, 139, 132, 0.421);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.266);
    padding: 0px 20px 0px 20px;
    background-color: rgba(245, 222, 179, 0.141);
    overflow-y: auto;
}

.profile_update_content h3{
    font-family: 'DM Sans', sans-serif;
    margin-top: 40px;
    margin-left: 40px;
    color:rgb(0, 5, 93)
}

.profile_update_content span{
    color: black;
}

.profile_update_content label{
    color:rgb(0, 5, 93);
    font-size: small;
    border-bottom: 0px;
}

.profile_update_content select{
    border-radius: 4px;
    border: 2px solid rgba(128, 128, 128, 0.385);;
}

.profile_update_content .extend{
    width: 30%;
}

.profileUpdate .changePassword {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-evenly;
}

.changePassword center input{
    width: 70% !important;
    padding: 5px;
    margin-bottom: 20px;
    border-color: rgba(128, 128, 128, 0.385);
    outline: none !important;
}
.changePassword center input:focus, .updateMore input{
    outline: none !important;
}

.profile_update_content input{
    width: 50%;
    line-height: 20px;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-color: rgba(128, 128, 128, 0.385);
}

.negotiable {
    width: 90%;
    padding: 5px;
}
input[type='text'],
input[type='tel'],
input[type='date'],
input[type='number'] {
    font-size: medium;
    width: 90%;
    padding: 8px;
    margin-bottom: 5px;
    /* height: 10px; */
}
select{
    width: calc(100% - 16px);
    /* padding: 10px; */
    margin-bottom: 0px;
    font-size: medium;
    height: 38px;
    margin-bottom: 5px;
}

.statement textarea {
    width: 93%;
    font-size: medium;
    height: 100px;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.385);
    padding: 10px;
    margin: 7px;
}


.form-table {
    display: flex;
    flex-wrap: wrap;
}

.flex_row {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.flex_in {
    flex: 1;
    margin-right: 10px;
}

.flex_row.bio,
.flex_row.profile_update_btn {
    flex-basis: 100%;
}

.flex_row label {
    margin-bottom: 5px;
}
.bio textarea {
	width: 95%;
	height: 80px;
	border-radius: 10px;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .flex_in {
        flex-basis: 100%;
        margin-right: 0;
    }
}
/* stop */


/* Update Schedule form */
/* Start */

.working_schedule{
    display: none;
}

.working_schedule_contents{
    display: flex;
    flex-direction: row;
    /* padding: 20px 40px 40px 40px; */
    line-height: 30px;
    justify-content:center;
    padding: 1% 0;
}

.work_options{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 140px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 7px;
    background-color: rgba(252, 251, 237, 0.748);
    box-shadow: 1px 1px 10px rgba(116, 115, 115, 0.779);
}

.working_schedule button{
    width: 130px;
    margin-left: 15px;

}

.updateEngagements{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.formContentField {
    flex: 2;
    padding: 10px 0px 10px 20px;
    width: 100% !important;

}
.saveCancel{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.save_button_work {
    padding: 10px;
    margin-top: 10px;
}

.reset_button, .cancel {
    margin-top: 20px;
    background-color: rgb(224, 65, 65) !important;
    color: white;
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
}
.reset_button:hover, .cancel:hover {
    background-color: rgb(120, 18, 18);
    opacity: 1;
    box-shadow: 1px 2px 2px wheat;
}
.schedule_display{
    display: flex;
    border: 1px solid rgba(196, 196, 196, 0.642);
    height: 400px;
    border-radius: 10px;
    width: 460px;
    overflow-y: auto;
    background-color: rgba(252, 251, 237, 0.748);
}

.schedule_display h2{
    font-size: medium;
    margin-top: 0px;
}
.tutor_subject {
    width: 225px;
    padding: 5px;
}
.tutor_subject table{
    width: 190px;
}
.tutor_hours {
    width: 210px;
    padding: 5px;
    border-left: 4px solid rgba(0, 17, 128, 0.211);
}

/* stop */

/* Uploads  start*/

.doc_uploads{
    /* font-family: 'Diphylleia', 'dosis', 'el messiri', 'Inika', serif;    font-size: 14px; */
    display: none;
    margin: 15px 10px;
    padding: 10px;
    height: 500px;
    width: 94.5%;
    overflow: hidden;
    overflow-y: auto !important;
    border-radius: 5px;
    line-height: 15px;
    font-size: 0.8em;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 10px rgba(116, 115, 115, 0.779);

}

.doc_uploads_flex{
    display: inline-block;
    line-height: 0.9;
    /* width: 100%; */
    /* padding: 0px 30px; */
    /* height: 40px; */
}

.doc_uploads_flex .docs{
    position: relative;
    display: flex;
}

.doc_uploads input{
    box-shadow: 1px 1px 10px rgba(116, 115, 115, 0.779);
    padding: 2px;
    margin: 5px 0px;
    border-radius: 4px;
}

.doc_uploads h3{
    /* font-family: 'Hedvig Letters Sans', sans-serif; */
    font-weight: 900;
}

.doc_uploads .save_btn{
    border-radius: 5px;
    background-color: rgba(0, 3, 65, 0.886);
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid rgba(245, 222, 179, 0.475);
    font-size: small;
    height: 25px;
    width: 200px;
}
#done h2 {
    color: darkblue;
}
.active_pwd{
    opacity: 1;
}


.fa-circle-check {
    font-size: 70px;
    color: green;
}
/* upload stop */

.profile_update_content input:focus{
    outline-color: rgba(0, 17, 128, 0.323);
}

.profile_update_content .save_button{
    margin: auto auto;
    margin-bottom: 10px;
    display: block;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(0, 3, 65, 0.886);
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid rgba(245, 222, 179, 0.475);
}
.profile_update_content button:hover{
    color: #38f04a;
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
}

.dp{
    display: flex;
    justify-content: center;
    float: right;
    flex-direction: column;
    margin-top: 20px;
}

.dp img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: block;
    margin: auto auto;
    margin-bottom: 2px;
    margin-right: 50px;
}

.dp p{
    font-size: small;
    color: rgba(128, 128, 128, 0.769);
    margin-top: 2px;
    cursor: pointer;
    border-bottom: 2px solid gray;
}

.deactivate_account_control_display,
.logout_btn,
.report_btn_activation,
.cancel_contract_btn_activation,
.review_link_popup_activation,
.reports_view_popup_activation,
.pending_clients_activation,
.settled_clients_activation {
    position: absolute;
    backdrop-filter: brightness(0.1);
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 200vh;
}

.deactivateAccount,
.logout_btn_account,
.report_btn_account,
.contract_btn_account,
.reviews_window,
.reports_window,
.pending_clients_window,
.settled_clients_window {
    width: 50%;
    height: 410px;
    margin: auto auto;
    margin-top: 20px;
    border: 1px solid rgba(140, 139, 132, 0.421);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(243, 240, 240, 0.705);
    padding: 0px 20px 0px 20px;
    background-color: rgb(251, 251, 251);
    margin-top: 10%;
    border-bottom: 2px solid red;
}

.report_btn_account,
.contract_btn_account,
.reviews_window,
.pending_clients_window,
.settled_clients_window {
    min-width: 400px;
}
.contract_btn_account, .report_btn_account {
    height: 470px;
}
.report_btn_account {
    height: 600px;
}

.reviews_window {
    height: 470px;
}

.warning {
    margin-top: 20px;
}

.warning img{
    width: 80px;
    height: 70px;
    display: block;
    margin: auto;
}

.warning_box{
    margin: auto auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.warning .confirm_dialog{
    margin-top: 0px;
    font-size: x-large;
    font-weight: 800;
    color: red;
    font-family: 'Marko One', serif;
}

.warning .action{
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    border-bottom: 2px solid rgb(203, 194, 194);
}

.report_display,
.pending_clients_display,
.settled_clients_display {
    padding: 10px;
}

.selections, .report_buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.report_buttons {
    margin-top: 25px;
}
.report_title {
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 5, 93);
    margin-bottom: 10px;
    font-size: 'Diphylleia', 'dosis', 'el messiri', 'Inika', serif;
}
.selections button{
    padding: 20px 80px 20px 80px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 800;
    color: white;
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.report_buttons button {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    width: 150px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border: 1px solid whitesmoke;
    cursor: pointer;
}
.accept_contract_btn button {
    background-color: rgb(4, 139, 27);
    font-size: 13px;
    font-weight: bold;
}
.decline_contract_btn button {
    background-color: rgba(224, 65, 65, 0.882);
    font-size: 13px;
    font-weight: bold;
}

.selections .confirm_remove, .selections .confirm_logout, .cancel_btn{
    background-color: red;
}

.selections .mistake, .selections .cancel_logout, .submit_report{
    background-color: blue;
    opacity: 0.7;
}

.selections .mistake:hover, .selections .cancel_logout:hover, .submit_report:hover {
    background-color: blue;
    opacity: 1;
}

.cancel_report, .cancel_contract_btn button {
    background-color: rgb(238, 74, 74);
}

.cancel_report:hover, .cancel_contract_btn button:hover {
    background-color: rgb(166, 13, 13);
    box-shadow: 1px 1px 10px 1px rgba(69, 69, 69, 0.539);
}

.report_display select,.report_display input[type="text"] {
    width: 100%;
    border-radius: 5px;
    outline-color: rgba(0, 17, 128, 0.323);
}

.report_display textarea {
    width: 100%;
    min-height: 150px;
    outline-color: rgba(0, 17, 128, 0.323);
    border-radius: 5px;
}

/* deactivate account blank */
.deactivate_account_blank {
    display: none;
    width: 94.5%;
    height: 500px;

}


/* Table sorting css */
/* <div class="sort_tables">
<form id="sortForm"> */
.sort_tables form {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    font-size: small;
}


.sort_tables label {
    font-weight: bold;
    margin-bottom: 0px;
    /* display: ; */
}

.sort_tables select {
    padding: 2px;
    font-size: 13px;
    font-weight:500;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 150px;
    margin-bottom: px;
    outline-color: rgba(0, 17, 128, 0.348);
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.253);
}

.sort_tables input[type="submit"] {
    padding: 2px;
    background-color: rgb(0, 17, 128);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 60px;
    height: 30px;
    margin-left: 2px;
}

/* review popUp css */
.reviews_window,
.reports_window,
.pending_clients_window,
.settled_clients_window {
    width: 70%; /* overides a previous css group width */
    height: 500px;
    margin-top: 100px;
}
.pending_clients_window {
    width: 80%;
    height: 500px;
    margin-top: 100px;
}

.review_display,
.report_display,
.pending_clients_display,
.settled_clients_display {
    padding: 25px;
    overflow-y: auto;
    height: 400px;
    /* margin: 30px; */
    font-size: 0.95em;
}
.report_display{
    overflow: hidden;
    margin-top: 10px;
    height: auto;
}

.close_review,
.close_pending_clients,
.close_settled_clients{
    display: block;
    cursor: pointer;
    color: rgb(4, 65, 130);
}
.review_table .clientName, .report_table .reportReason {
    width: 180px;
}
.pending_clients_table .clientName, .settled_clients_table .clientName {
    width: 180px;
}
/* .review_table .rating, .review_table .reviewDate, .report_table .reportDate {
    width: 100px;
}

.review_table .reviewStatement,
.report_table .reportStatement{
    min-width: 300px;
} */

.review_table table,
.pending_clients_table table,
.settled_clients_table table {
    border-collapse: collapse;
    width: 100%;
}
.review_table th, .review_table td,
.pending_clients_table th, .pending_clients_table td,
.settled_clients_table th, .settled_clients_table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
.review_table th, .pending_clients_table th,
.settled_clients_table th {
    background-color: rgba(0, 17, 128, 0.326);
    cursor: pointer;
    color:#070232;
}
.review_table th:hover, .pending_clients_table th:hover,
.settled_clients_table th:hover {
    background-color: #ddd;
    color: #022750e7;
}

#pending_clients:hover, #settled_clients:hover {
    background-color: #ccc;
    color: #008000;
}
#pending_clients:hover{
    color: rgba(13, 13, 13, 0.716);
}

.active_contracts:hover {
    cursor:not-allowed;
    user-select: none;
}

/* update schedule css extras */
.inactive {
    opacity: 0.5;
    pointer-events: none;
}


.scheduleButton button{
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(2, 7, 80, 0.811);
    color: white;
    cursor: pointer;
    border: none
}

.scheduleButton button:hover {
    background-color: rgb(2, 7, 80);
    box-shadow: 1px 1px 10px rgba(243, 240, 240);
}

th {
    cursor: pointer;
}
#activeClientTable th, #clientHistoryTable th  {
    color: rgb(0, 0, 100);
}



/* tutor confirm  suspend */
.confirmSuspend{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.confirmSuspend input[type="password"]{
    padding: 8px;
    padding-top: 12px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    outline-color: rgba(0, 17, 128, 0.323);
}
.confirmSuspend input:focus{
    outline:  rgba(0, 17, 128, 0.323);
}
.styleButtons{
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
}

.styleButtons button{
    padding: 20px 15px;
    border-radius: 10px;
    width: 200px;
    font-weight: 700;
    font-size: normal;

}

/*sending data waiting...*/
.sendingEmail {
    display: block;
    position: absolute;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 70%;
  }
  .sendingEmail div {
    animation: sendingEmail 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .sendingEmail div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin: -4px 0 0 -4px;
  }
  .sendingEmail div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .sendingEmail div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .sendingEmail div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .sendingEmail div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .sendingEmail div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .sendingEmail div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .sendingEmail div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .sendingEmail div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .sendingEmail div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .sendingEmail div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .sendingEmail div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .sendingEmail div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .sendingEmail div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .sendingEmail div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .sendingEmail div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .sendingEmail div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes sendingEmail {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
